// ==|== media queries ========================================================
// ============================================================================

@media only screen and (max-height: 400px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	nav.nav_primary .wrap_nav ul {
		top: 45%;
	}

// ==|== main styles ==========================================================
// =============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container .iso_loader .wrap_graphics {
		padding-top: 0;
	}

}

@media only screen and (min-width: 480px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	nav.nav_primary {
		a.nav_toggle {
			top: 1rem;
			left: 1.6rem;
			right: auto;
			margin: 0;
		}
		.wrap_nav ul li {
			a {
				font-size: 1.8rem;
			}
			// + individual list items + \\
			&:nth-child(-n+5) {
				margin-bottom: 1.8rem;
			}
			&.nav_twitter {
				margin-bottom: 2.8rem;
			}
		}
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container {
		.iso_gutter {
			width: 4.464286%; // 40 / 2 = 20 / 408 = 4.464286%
		}
		article {
			width: 30.357143%; // 448 - 40 = 408 / 3 = 136 / 408 = 30.357143%
		}
	}

	// YouTube Modal
	// ----------------------------------------------------------------------------
	aside {
		.modal_content {
			header.modal_header {
				display: flex;
				.wrap_titles,
				.wrap_titles {
					// width: 70%;
					flex: 0 1 70%;
					margin-bottom: 0;
					text-align: left;
				}
				ul.wrap_links {
					display: block;
					// width: 30%;
					flex: 0 1 30%;
					li {
						&.item_link-close {
							position: static;
							top: auto;
							right: auto;
							a.wrap_ui-close {
								display: inline;
								padding: 0;
								width: auto;
								span {
									display: inline;
								}
								svg {
									display: none;
								}
							}
						}
						&.item_link-project,
						&.item_link-share {
							flex: none;
						}
						&.item_link-close,
						&.item_link-credits,
						&.item_link-project {
							margin-bottom: 0.8rem;
							text-align: right;
						}
						// &.item_link-close,
						&.item_link-project,
						&.item_link-share {
							width: 100%;
						}
					}
				}
			}
			figure.modal_figure {
				figcaption.modal_caption .wrap_scroll ul.video_credits {
					column-count: 2;
					text-align: left;
					li {
						break-inside: avoid;
					}
				}
			}
			.content_error {
				padding: 6.4rem 3.2rem;
			}
		}
		&[data-ajax="error"] {
			.modal_content {
				header.modal_header ul.wrap_links {
					// width: 100%;
					flex: 0 1 100%;
					li.item_link-close {
						text-align: center;
						transform: translateY(3.2rem);
					}
				}
			}
		}
	}

// ==|== projects =============================================================
// ============================================================================

	// Projects Main
	// ----------------------------------------------------------------------------
	section.projects_main {
		columns: 2;
		article {
			break-inside: avoid;
		}
	}

	// Projects Single Post
	// ----------------------------------------------------------------------------
	section.projects_single {
		article.projects_post {
			.projects_header {
				text-align: right;
			}
			.wrap_content {
				text-align: left;
				.wrap_credits,
				nav.wrap_related {
					float: left;
				}
				.wrap_credits {
					margin-bottom: 0;
					width: 62%;
				}
				nav.wrap_related {
					width: 38%;
				}
			}
		}
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Pages IDs
	// ----------------------------------------------------------------------------
	// need to compensate for both #home iso and #people article margin-bottoms with the footer padding-top
	#people footer.page_footer {
		padding-top: 6.8rem; // 100px - 32px
	}

	// People
	// ----------------------------------------------------------------------------
	section.people {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; // center; // space-between; // space-around;
		// margin-top: -3.2rem;
		margin-left: -3.2rem;
		article {
			@include container(reset);
			flex: 0 1 calc(50% - 3.2rem);
			max-width: 22rem;
			margin-left: 3.2rem;
			margin-bottom: 3.2rem;
			text-align: left;
			img {
				// max-width: 100%; does not seem to play nice with flexbox
				@include container(reset);
				width: 100%;
				height: auto;
			}
		}
	}

}


@media only screen and (min-width: 568px) {

// ==|== page styles ==========================================================
// ============================================================================

	// People
	// ----------------------------------------------------------------------------
	section.people {
		margin-left: -2rem;
		article {
			flex: 0 1 calc(33.3333333% - 2rem);
			margin-left: 2rem;
		}
	}

}


@media only screen and (min-width: 768px) {

// ==|== base =================================================================
// ============================================================================

	// Animations
	// ----------------------------------------------------------------------------
	@keyframes animSlideUp {
		  0% { opacity: 0; transform: translate3d(0,2rem,0); }
		100% { opacity: 1; transform: translate3d(0,0rem,0); }
	}
	@keyframes animBounceUpFade {
		  0% { transform: translate3d(0, 4.8rem,0); opacity: 0; }
		 60% { transform: translate3d(0,-0.8rem,0);             }
		100% { transform: translate3d(0,   0rem,0); opacity: 1; }
	}
	@keyframes animBounceInUp {
		  0% { transform: translate3d(0, 300rem,0); opacity: 0; }
		 60% { transform: translate3d(0,  -2rem,0); opacity: 1; }
		 75% { transform: translate3d(0,   1rem,0);             }
		 90% { transform: translate3d(0,-0.5rem,0);             }
		100% { transform: translate3d(0,   0rem,0); opacity: 1; }
	}
	@keyframes animBounceOutDown {
		  0% { transform: translate3d(0,  0rem,0); opacity: 1; }
		 20% { transform: translate3d(0,  1rem,0);             }
		 40%,
		 45% { transform: translate3d(0, -2rem,0); opacity: 1; }
		100% { transform: translate3d(0,100rem,0); opacity: 0; }
		// less than initial value of 300rem... animation is too quick otherwise
	}
	@keyframes animVHSwipe {
		// update animation from its initial values
		  0% { transform: translate3d(-1.6rem,0,0); opacity: 0; }
		 50% { transform: translate3d( 0.4rem,0,0);             }
		 75% { transform: translate3d(-0.2rem,0,0);             }
		100% { transform: translate3d(   0rem,0,0); opacity: 1; }
	}
	@keyframes animRainbowColorBorder {
		  0% { color: $hsl_red;    border-color: $hsl_red;    }
		 26% { color: $hsl_orange; border-color: $hsl_orange; }
		 44% { color: $hsl_yellow; border-color: $hsl_yellow; }
		 74% { color: $hsl_aqua;   border-color: $hsl_aqua;   }
		 82% { color: $hsl_cyan;   border-color: $hsl_cyan;   }
		100% { color: $hsl_red;    border-color: $hsl_red;    }
	}
	@keyframes animRainbowFill-steps {
		$numAnimPercent: 0;
		@each $color in $arrRainbowValues {
			#{$numAnimPercent}% {
				fill: $color;
			}
			$numAnimPercent: $numAnimPercent + 20;
		}
	}
	// cascading rainbow letters 1 - 5
	$numRainbowStepIndex: 1;
	@for $i from 1 through length($arrRainbowValues) {
		@keyframes animRainbowFill-step#{$i} {
			$numAnimPercent: 0;
			@each $color in $arrRainbowValues {
				#{$numAnimPercent}% {
					fill: nth($arrRainbowValues, $numRainbowStepIndex);
				}
				$numAnimPercent: $numAnimPercent + 20;
				$numRainbowStepIndex: if($numRainbowStepIndex == length($arrRainbowValues), 1, $numRainbowStepIndex + 1); // once our array has reached its max, reset
			}
		}
		$numRainbowStepIndex: $numRainbowStepIndex + 1; // increment $numRainbowStepIndex by 1 so we can offset each animation
	}

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header.page_header {
		position: relative;
		padding-top: 18rem;
		padding-bottom: 6.4rem;
		// UNTIL WEBKIT FIXES SVG ANIMATIONS WITHIN AN <a> TAG, THIS CAN'T BE USED...
		a.logo_main {
			transition: opacity 260ms ease-in-out;
			&:active {
				opacity: 0.8;
			}
		}
		.logo_main {
			margin-bottom: 6.4rem;
			max-width: 34.6rem; // width of the widest SVG (sandwich)
			// a.fix_webkit-svg {} with Page Load section for hover + active styles
			.wrap_svg.wrap_logo-sandwich,
			.wrap_svg.wrap_logo-video {
				width: 100%;
			}
		}
	}

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	nav.nav_primary {

		position: fixed;
		z-index: 900;
		top: 0;
		left: 0;
		right: 0;
		padding: 5.6rem 3.2rem 2rem 3.2rem; // 40px of extra top padding for scroll distance (set in JS - actually 60px)
		background-color: $hsla_bone-L98;
		transition: transform 260ms ease-in-out;

		&.scrolled {
			transform: translate3d(0,-4rem,0);
		}

		a.nav_toggle {
			display: none;
			position: static;
			.nav_icon .nav_line {
				position: static;
			}
			html[data-ready="ready"] & .nav_icon,
			html[data-ready="ready"] & .nav_icon .nav_line,
			html[data-ready="ready"] & .nav_icon .line-2 .line_bg {
				transition: none;
			}
		}

		.wrap_nav {
			@include posCover(reset);
			@include toggleVisibility(on);
			position: relative; // is this needed, or is a stacking content retained?
			perspective: none;
			background-color: transparent;
			ul {
				@include container(1280);
				position: static;
				top: auto;
				transform: none;
				li {
					a {
						font-size: 1.5rem;
					}
					// + individual list items + \\
					&:nth-child(-n+5) {
						display: inline-block;
					}
					&:nth-child(-n+4) {
						margin-right: 3.2rem;
					}
					&:nth-child(-n+5),
					&.nav_twitter {
						margin-bottom: 0;
					}
					&.nav_twitter {
						position: absolute;
						right: 0;
						bottom: 0;
						margin-right: 0;
					}
					&.nav_search {
						position: absolute;
						z-index: 1;
						left: 0;
						top: -0.2rem;
						margin-left: 0;
						margin-right: 0;
						width: auto;
						form {
							&::before,
							&::after {
								display: none;
								width: auto;
								height: auto;
								background: transparent;
							}
							input[type="text"] {
								padding-left: 3.6rem;
								width: 3.6rem;
								text-align: left;
								opacity: 0;
								cursor: pointer;
								transition: width 600ms $easeInOutBack, opacity 600ms $easeInOutBack; // runs when entering 768px width... can i prevent?
								&:hover + svg.ui_search path {
									stroke: $hsl_red;
								}
								&:focus {
									width: calc(100vw - 19rem); // only until 1024px
									opacity: 1;
									cursor: text;
									& + svg.ui_search path {
										stroke: $hsl_navy;
									}
								}
							}
							svg.ui_search {
								top: -0.2rem;
								left: -0.2rem;
								width: 2.6rem;
								height: 2.6rem;
								path {
									// beginning animation state
									opacity: 0;
									stroke-dasharray: 155;
									stroke-dashoffset: 155;
								}
							}
						}
					}
				}
			}
		}

		// + toggled navigation + \\
		&.toggled {
			.wrap_nav ul,
			a.nav_toggle .nav_icon,
			a.nav_toggle .nav_icon .line-1,
			a.nav_toggle .nav_icon .line-3 {
				transform: none; // just to be extra sure...
			}
		}

	}

	// Footer
	// ----------------------------------------------------------------------------
	footer.page_footer {
		padding-top: 14rem;
		padding-bottom: 12rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Shared Content
	// ----------------------------------------------------------------------------
	// --- The Content --- \\
	.the_content {
		h1,
		h2,
		h3 {
			font-size: 2rem;
		}
		h4,
		h5,
		h6 {
			font-size: 1.6rem;
		}
		p,
		li {
			font-size: 1.5rem;
		}
		img {
			width: 100%; // required for FF to behave with flexbox
		}
		table {
			tr th,
			tr td {
				padding: 1.6rem;
				font-size: 1.4rem;
			}
		}
	}

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {

		margin-bottom: 6.4rem;
		max-width: 80rem;

		a.cat_trigger {
			display: none; // will there be JS errors? should this be visually hidden instead?
			visibility: hidden;
		}

		.wrap_dropdown,
		.wrap_dropdown ul,
		.wrap_dropdown .fix_ios-scroll {
			background-color: transparent;
		}
		.wrap_dropdown {
			@include toggleVisibility(on);
			position: static;
			top: auto;
			border-radius: 0;
			overflow: visible;
			transition: none;
			ul li {
				display: inline-block;
				margin: 0 0.4rem 0.6rem 0.4rem;
				&:nth-child(n+3) a {
					// do not apply the transition to our rainbow links (all & curated) since these use an animation
					transition: color 260ms ease-in-out, background-color 260ms ease-in-out, border-color 260ms ease-in-out;
				}
				a {
					padding: 0.8rem 1.2rem 1rem 1.2rem;
					font-size: 1.4rem;
					color: $hsl_navy;
					border: 0.1rem solid transparent; // does a border-color need to be applied for each cycle?
					border-radius: 0.8rem;
					&.color_rainbow {
						position: relative;
						&::before {
							content: "";
							display: block;
							position: absolute;
							top: -0.2rem;
							right: -0.2rem;
							bottom: -0.2rem;
							left: -0.2rem;
							border: 0.4rem solid $hsl_bone;
							border-radius: 0.8rem;
							opacity: 1;
							transition: opacity 260ms ease-in-out; // 600ms
						}
					}
					&:hover {
						color: $hsl_red; // default colour
					}
					&:active {
						color: darken($hsl_red, 10%); // default colour
					}
				}
				&.cat_current a {
					color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
					border-color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
					&::before {
						opacity: 0;
					}
				}
			}
			&.scrollable {
				height: auto;
				// required only get to iOS to behave
				.fix_ios-scroll {
					@include posCover(reset);
					overflow: visible;
					-webkit-mask-image: none;
					ul {
						height: auto;
						overflow: visible;
						-webkit-overflow-scrolling: auto;
					}
				}
			}
		}

		&[data-index="0"],
		&[data-index="1"],
		&[data-index="2"],
		&[data-index="14"],
		&[data-index="15"],
		&[data-index="16"] {
			.wrap_dropdown {
				top: auto;
			}
		}

		// state the reason for this
		html[data-ready="ready"] & .wrap_dropdown ul li.cat_current a.color_rainbow::before {
			opacity: 0;
		}

	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container {
		.iso_gutter {
			width: 5.681818%; // 80 / 2 = 40 / 704 = 5.681818%
		}
		article {
			margin-bottom: 4rem;
			width: 29.545455%; // 704 - 80 = 624 / 3 = 208 / 704 = 29.545455%
			a {
				.wrap_iso-image .wrap_iso-title {
					@include posCover(absolute, 103);
					display: block;
					opacity: 0;
					.wrap_txt-center {
						display: table;
						width: 100%;
						height: 100%;
						text-align: center;
						h3 {
							display: table-cell;
							vertical-align: middle;
							padding-left: 1.6rem;
							padding-right: 1.6rem;
							font-size: 1.8rem;
							color: $hsl_L100;
						}
					}
				}
				&:hover .wrap_iso-image .wrap_iso-title {
					opacity: 1;
				}
				&:active .wrap_iso-image .wrap_iso-title {
					opacity: 0.9;
				}
			}
		}
	}

	// YouTube Modal
	// ----------------------------------------------------------------------------
	aside {

		cursor: zoom-out;

		.modal_content {
			cursor: default;
			display: flex;
			flex-direction: column;
			width: 80%;
			height: auto;
			box-shadow: 0 0 3.2rem hsla(0,0%,0%,0.32);
			overflow-y: auto;
			-webkit-overflow-scrolling: auto;
			// last keyframe styles of animBounceOutDown
			opacity: 0;
			transform: translate3d(0,300rem,0);
			header.modal_header {
				order: 2; // move below figure
				padding-left: 2rem;
				padding-right: 2rem;
				ul.wrap_links li {
					&.item_link-close {
						display: none;
					}
					&.item_link-credits {
						display: block;
					}
				}
			}
			figure.modal_figure {
				order: 1; // move above header
				position: relative;
				figcaption.modal_caption {
					@include posCover(absolute, 1);
					@include toggleVisibility(off);
					overflow: hidden;
					background-color: $hsla_cyan-L96;
					transition: opacity 260ms ease-in-out, visibility 260ms ease-in-out;
					.wrap_scroll {
						height: 100%;
						overflow-y: scroll;
						-webkit-overflow-scrolling: touch;
						ul.video_credits {
							padding-left: 2rem;
							padding-right: 2rem;
						}
					}
					a.wrap_ui-arrow {
						display: block;
						position: absolute;
						right: 2rem;
						bottom: 2rem;
						svg {
							transition: transform 260ms ease-in-out; // no more 'fill'
						}
						&:hover svg {
							transform: translateY(0.4rem);
						}
						&:active svg {
							transform: translateY(0.2rem);
						}
					}
				}
			}
			.content_error {
				padding-left: 6.4rem;
				padding-right: 6.4rem;
			}
		}

		// bounce in / out of .modal_content
		&[data-modal="hidden"] {
			animation: animHide 400ms ease-in-out 400ms both; // delay the modal fade out just enough to be in sync with .modal_content
			&[data-content="empty"] .modal_content,
			&[data-content="loaded"] .modal_content {
				animation: animBounceOutDown 800ms $easeBounce both;
			}
		}
		&[data-modal="visible"] {
			animation: animFadeIn 400ms ease-in-out both;
			&[data-content="loaded"] .modal_content {
				animation: animBounceInUp 800ms $easeBounce forwards;
			}
		}

		&[data-ajax="error"] {
			.modal_content {
				header.modal_header ul.wrap_links li.item_link-credits {
					display: none;
				}
			}
		}

		// toggled credits
		&.toggle_credits .modal_content {
			header.modal_header ul.wrap_links li.item_link-credits a {
				color: $hsl_cyan;
			}
			figure.modal_figure figcaption.modal_caption {
				@include toggleVisibility(on);
			}
		}

		.modal_loader {
			background-color: transparent;
		}

	}

// ==|== projects =============================================================
// ============================================================================

	// Projects Single Post
	// ----------------------------------------------------------------------------
	section.projects_single {
		margin-bottom: 4.8rem;
		article.projects_post {
			.projects_header {
				margin-bottom: 3.2rem;
			}
			figure.projects_figure {
				margin-bottom: 4.8rem;
				figcaption.projects_caption {
					padding-top: 3.2rem;
					padding-bottom: 3.2rem;
					.wrap_titles {
						width: calc(100% - 10.8rem);
						h3 {
							font-size: 2.7rem;
							&.title_video {
								margin-bottom: 1rem;
							}
						}
					}
					.wrap_logo {
						width: 7.6rem;
						line-height: 7.6rem;
					}
				}
			}
			.wrap_content {
				.wrap_credits h4,
				.wrap_related h4 {
					margin-bottom: 4.8rem;
				}
			}
		}
	}

// ==|== press ================================================================
// ============================================================================

	// Press Shared
	// ----------------------------------------------------------------------------
	#press main {
		display: flex;
		flex-wrap: nowrap;
	}
	section.press_main,
	section.press_single {
		flex: 1;
		padding-right: 4rem;
	}
	article.press_post {
		.press_feature img {
			width: 100%; // required to get FF to scale images within flex container
		}
		header {
			h3 {
				font-size: 2.2rem;
				line-height: 1.2;
				color: $hsl_navy;
			}
			time {
				font-size: 1.3rem
			}
		}
		.press_author p {
			font-size: 1.5rem;
		}
	}
	section.press_sidebar {
		flex: 0 0 18.8rem;
		nav.wrap_press-links ul li a {
			font-size: 1.3rem;
		}
		a.link_story {
			width: 18.8rem;
			height: 18.8rem;
		}
	}

	// Press Main
	// ----------------------------------------------------------------------------
	section.press_main {
		nav.press_pagination {
			ul {
				li {
					flex: 1;
					max-width: 4.4rem;
					&:last-child {
						margin-right: 0;
					}
					// if there are at least 9 items (including back and next), set li.pagi_page elements back to visible
					&:nth-last-child(n+9) ~ li.pagi_page {
						display: block;
					}
				}
			}
			// we now need to force our ellipsis elements back to hidden
			&.appended_ellipsis ul li:nth-last-child(n+9) ~ li.pagi_more {
				display: none;
			}
		}
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Pages IDs
	// ----------------------------------------------------------------------------
	// need to compensate for both #home iso and #people article margin-bottoms with the footer padding-top
	#home footer.page_footer {
		padding-top: 10rem; // 140px - 40px
	}
	#people footer.page_footer {
		padding-top: 7.6rem; // 140px - 64px
	}

	// People
	// ----------------------------------------------------------------------------
	#people main {
		position: relative;
	}
	section.people {
		margin-left: -4rem;
		article {
			flex: 0 1 calc(33.3333333% - 4rem);
			margin-left: 4rem;
			margin-bottom: 6.4rem;
		}
	}
	a.link_people-all {
		position: absolute;
		top: -17rem;
		right: 0;
		margin: 0;
	}

	// Alternating Colours
	// ----------------------------------------------------------------------------
	nav.nav_categories .wrap_dropdown ul li a.color_red,
	nav.nav_categories .wrap_dropdown ul li a.color_orange,
	nav.nav_categories .wrap_dropdown ul li a.color_yellow,
	nav.nav_categories .wrap_dropdown ul li a.color_aqua,
	nav.nav_categories .wrap_dropdown ul li a.color_cyan,
	nav.nav_categories .wrap_dropdown ul li:nth-child(1) a,
	nav.nav_categories .wrap_dropdown ul li:nth-child(2) a { background-color: transparent; }
	// + rainbow links + \\
	// NOT WORKING IN CHROME
	nav.nav_categories .wrap_dropdown ul li a.color_rainbow:hover { animation: animRainbowColor 600ms linear infinite; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_rainbow { animation: animRainbowColorBorder 600ms linear infinite; }
	// + red links + \\
	nav.nav_categories[data-color="red"] + section.iso_container article a .wrap_iso-image .wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_red .wrap_iso-image .wrap_iso-title { background-color: $hsl_red; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_red { color: $hsl_red; border-color: $hsl_red; }
	nav.nav_primary .wrap_nav ul li a.color_red:hover,
	nav.nav_categories .wrap_dropdown ul li a.color_red:hover { color: $hsl_red; }
	nav.nav_primary .wrap_nav ul li a.color_red:active,
	nav.nav_categories .wrap_dropdown ul li a.color_red:active { color: darken($hsl_red, 20%); }
	// + orange links + \\
	nav.nav_categories[data-color="orange"] + section.iso_container article a .wrap_iso-image .wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_orange .wrap_iso-image .wrap_iso-title { background-color: $hsl_orange; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_orange { color: $hsl_orange; border-color: $hsl_orange; }
	nav.nav_primary .wrap_nav ul li a.color_orange:hover,
	nav.nav_categories .wrap_dropdown ul li a.color_orange:hover { color: $hsl_orange; }
	nav.nav_primary .wrap_nav ul li a.color_orange:active,
	nav.nav_categories .wrap_dropdown ul li a.color_orange:active { color: darken($hsl_orange, 20%); }
	// + yellow links + \\
	nav.nav_categories[data-color="yellow"] + section.iso_container article a .wrap_iso-image .wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_yellow .wrap_iso-image .wrap_iso-title { background-color: $hsl_yellow; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_yellow { color: $hsl_yellow; border-color: $hsl_yellow; }
	nav.nav_primary .wrap_nav ul li a.color_yellow:hover,
	nav.nav_categories .wrap_dropdown ul li a.color_yellow:hover { color: $hsl_yellow; }
	nav.nav_primary .wrap_nav ul li a.color_yellow:active,
	nav.nav_categories .wrap_dropdown ul li a.color_yellow:active { color: darken($hsl_yellow, 20%); }
	// + aqua links + \\
	nav.nav_categories[data-color="aqua"] + section.iso_container article a .wrap_iso-image .wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_aqua .wrap_iso-image .wrap_iso-title { background-color: $hsl_aqua; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_aqua { color: $hsl_aqua; border-color: $hsl_aqua; }
	nav.nav_primary .wrap_nav ul li a.color_aqua:hover,
	nav.nav_categories .wrap_dropdown ul li a.color_aqua:hover { color: $hsl_aqua; }
	nav.nav_primary .wrap_nav ul li a.color_aqua:active,
	nav.nav_categories .wrap_dropdown ul li a.color_aqua:active { color: darken($hsl_aqua, 20%); }
	// + cyan links + \\
	nav.nav_categories[data-color="cyan"] + section.iso_container article a .wrap_iso-image .wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_cyan .wrap_iso-image .wrap_iso-title { background-color: $hsl_cyan; }
	nav.nav_categories .wrap_dropdown ul li.cat_current a.color_cyan { color: $hsl_cyan; border-color: $hsl_cyan; }
	nav.nav_primary .wrap_nav ul li a.color_cyan:hover,
	nav.nav_categories .wrap_dropdown ul li a.color_cyan:hover { color: $hsl_cyan; }
	nav.nav_primary .wrap_nav ul li a.color_cyan:active,
	nav.nav_categories .wrap_dropdown ul li a.color_cyan:active { color: darken($hsl_cyan, 20%); }

	// Page Load
	// ----------------------------------------------------------------------------
	nav.nav_categories,
	nav.nav_primary a.nav_toggle .nav_icon .nav_line,
	nav.nav_primary a.nav_toggle .nav_icon .nav_line .line_bg {
		animation: none !important; // important seems to be required here...
	}

	// + header + \\
	html[data-ready="ready"] .logo_main .wrap_logo-sandwich,
	html[data-ready="ready"] svg.logo_video-rainbow g,
	html[data-ready="ready"] svg.logo_video-rainbow g path,
	html[data-ready="ready"] svg.logo_video-vhs g path {
		animation: none;
	}
	html[data-ready="ready"] #home .logo_main:hover {
		@for $i from 1 through 5 { // assumes 5 letters
			.wrap_video-rainbow svg g.rainbow_letter-#{$i} path {
				animation: animRainbowFill-step#{$i} 400ms steps(1) infinite reverse;
			}
			.wrap_video-vhs svg g path.group_path-#{$i} {
				animation: animRainbowFill-step#{$i} 400ms steps(1) infinite reverse;
			}
		}
		.wrap_video-record svg {
			animation: animRainbowFill-steps 600ms steps(1) infinite;
		}
	}
	html[data-ready="ready"] body:not(#home) .logo_main {
		.wrap_logo-sandwich,
		.wrap_logo-video {
			transition: opacity 260ms ease-in-out;
		}
	}
	html[data-ready="ready"] body:not(#home) .logo_main a.fix_webkit-svg {
		&:hover {
			@for $i from 1 through 5 { // assumes 5 letters
				& ~ .wrap_video-rainbow svg g.rainbow_letter-#{$i} path {
					animation: animRainbowFill-step#{$i} 400ms steps(1) infinite reverse;
				}
				& ~ .wrap_video-vhs svg g path.group_path-#{$i} {
					animation: animRainbowFill-step#{$i} 400ms steps(1) infinite reverse;
				}
			}
			& ~ .wrap_video-record svg {
				animation: animRainbowFill-steps 600ms steps(1) infinite;
			}
		}
		&:active + .wrap_logo-sandwich,
		&:active ~ .wrap_logo-video {
			opacity: 0.8;
		}
	}
	header.page_header .wrap_tagline {
		animation: animSlideUp 400ms ease-in-out 1000ms both;
	}
	// + nav primary + \\
	$numDelay: 600;
	@for $i from 1 through 5 { // assumes 5 nav items (excluding twitter and search)
		nav.nav_primary .wrap_nav ul li:nth-child(#{$i}) {
			animation: animBounceUpFade 400ms $easeBounce #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 100;
	}
	nav.nav_primary .wrap_nav ul li.nav_twitter {
		animation: animFadeIn 600ms ease-in-out 1600ms both;
	}
	nav.nav_primary .wrap_nav ul li.nav_search form svg.ui_search path {
		animation: animSVGPath 1000ms $easeBounce 1600ms forwards;
	}
	html[data-ready="ready"] nav.nav_primary .wrap_nav ul li.nav_search form svg.ui_search path {
/*
		opacity: 1;
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
		animation: none;
*/
		transition: stroke 260ms ease-in-out;
	}

	// + nav categories + \\
	$numDelay: 1000;
	@for $i from 1 through 20 { // assume a maximum of 20 nav items
		nav.nav_categories .wrap_dropdown ul li:nth-child(#{$i}) {
			animation: animBounceUpFade 300ms $easeBounce #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 40;
	}

}

@media only screen and (min-width: 960px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Shared Content
	// ----------------------------------------------------------------------------
	// --- Video Credits --- \\
	ul.video_credits li {
		margin-bottom: 3.2rem;
		p {
			margin-bottom: 0.7rem;
			&:first-child {
				margin-bottom: 1.2rem;
			}
		}
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container {
		.iso_gutter {
			width: 4.464286%; // 120 / 3 = 40 / 896 = 4.464286%
		}
		article {
			width: 21.651786%; // 896 - 120 = 776 / 4 = 194 / 704 = 21.651786%
		}
	}

	// YouTube Modal
	// ----------------------------------------------------------------------------
	aside {
		.modal_content {
			header.modal_header {
				padding-left: 2.6rem;
				padding-right: 2.6rem;
			}
			figure.modal_figure {
				figcaption.modal_caption .wrap_scroll ul.video_credits {
					padding: 4.8rem;
				}
			}
		}
	}

// ==|== projects =============================================================
// ============================================================================

	// Projects Main
	// ----------------------------------------------------------------------------
	section.projects_main {
		columns: 3;
	}

	// Projects Single Post
	// ----------------------------------------------------------------------------
	section.projects_single {
		article.projects_post {
			figure.projects_figure {
				margin-bottom: 6rem;
				figcaption.projects_caption {
					padding-top: 4rem;
					padding-bottom: 4rem;
				}
			}
			.wrap_content {
				.wrap_credits {
					width: 70%;
					ul.video_credits {
						column-count: 2;
						li {
							break-inside: avoid;
						}
					}
				}
				nav.wrap_related {
					width: 30%;
				}
			}
		}
	}

// ==|== page styles ==========================================================
// ============================================================================

	// People
	// ----------------------------------------------------------------------------
	section.people {
		article {
			flex: 0 1 calc(25% - 4rem);
		}
	}
	a.link_people-all {
		top: -27.2rem;
		width: 16.8rem;
		height: 16.8rem;
		.wrap_txt-helped {
			max-width: 12rem;
			top: 4.8rem;
		}
		.wrap_ui-hand {
			bottom: -2.4rem;
			width: 4.5rem;
		}
	}

}

@media only screen and (min-width: 1024px) {

// ==|== base =================================================================
// ============================================================================

	// Variables
	// ----------------------------------------------------------------------------
	$easeInOutBack: cubic-bezier(0.680,-0.550,0.265,1.550); // redefine for

// ==|== primary styles =======================================================
// ============================================================================

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	nav.nav_primary .wrap_nav ul li.nav_search {
		width: 23.2rem;
		form input[type="text"] {
			transition: width 260ms $easeInOutBack, opacity 260ms $easeInOutCirc; // redefine, since we have updated our easeing variable
			&:focus {
				width: 100%;
			}
		}
	}


// ==|== main styles ==========================================================
// ============================================================================

	// Shared Content
	// ----------------------------------------------------------------------------
	// --- The Content --- \\
	.the_content {
		blockquote {
			padding-left: 3.2rem;
			padding-right: 3.2rem;
		}
	}


// ==|== press ================================================================
// ============================================================================

	// Press Shared
	// ----------------------------------------------------------------------------
	section.press_main,
	section.press_single {
		padding-right: 9.8rem;
	}
	article.press_post {
		margin-bottom: 6.4rem;
		padding-bottom: 6.4rem;
		.press_feature {
			margin-bottom: 4.8rem;
		}
		header {
			display: flex;
			flex-wrap: nowrap;
			margin-bottom: 4.2rem;
			h3 {
				flex: 1;
				margin-bottom: 0;
			}
			time {
				flex: 0 0 16rem;
				text-align: right;
			}
		}
	}
	section.press_sidebar {
		flex: 0 0 24.8rem;
		nav.wrap_press-links {
			h4 {
				margin-bottom: 4.8rem;
			}
			ul li a {
				font-size: 1.5rem;
			}
		}

	}

}

@media only screen and (min-width: 1200px) {

// ==|== base =================================================================
// ============================================================================

	// Animations
	// ----------------------------------------------------------------------------
	@keyframes animCornerStripeSlide {
		// initial (from) values set per element
		to { opacity: 1; transform: translate3d(0,0rem,0); }
	}






	// cascading corner stripes 1 - 5
	$numPressStepIndex: 1;
	@for $i from 1 through length($arrPressValues) {
		@keyframes animCornerStripeBG-step#{$i} {
			$numAnimPercent: 0;
			@each $color in $arrPressValues {
				#{$numAnimPercent}% {
					background-color: nth($arrPressValues, $numPressStepIndex);
				}
				$numAnimPercent: $numAnimPercent + 20;
				$numPressStepIndex: if($numPressStepIndex == length($arrPressValues), 1, $numPressStepIndex + 1); // once our array has reached its max, reset
			}
		}
		$numPressStepIndex: $numPressStepIndex + 1; // increment $numPressStepIndex by 1 so we can offset each animation
	}







// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 4.8rem;
		padding-right: 4.8rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header.page_header {
		padding-top: 24rem;
		padding-bottom: 14rem;
	}

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	nav.nav_primary {
		padding-left: 4.8rem;
		padding-right: 4.8rem;
		.wrap_nav ul li {
			margin-right: 4rem;
		}
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {
		margin-bottom: 12rem;
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container {
		.iso_gutter {
			width: 3.713768%; // 164 / 4 = 41 / 1104 = 3.713768%
		}
		article {
			width: 17.028986%; // 1104 - 164 = 940 / 5 = 188 / 1104 = 17.028986%
		}
	}

// ==|== page styles ==========================================================
// ============================================================================

	// People
	// ----------------------------------------------------------------------------
	section.people {
		article {
			flex: 0 1 calc(20% - 4rem);
		}
	}
	a.link_people-all {
		top: -34.8rem;
	}

	// Press
	// ----------------------------------------------------------------------------
	.press_corner {
		display: flex;
		flex-wrap: nowrap;
		position: absolute;
		z-index: 999;
		top: -31rem;
		left: -14rem;
		width: 19rem;
		height: 58rem;
		transform: rotate(45deg);
		transform-origin: bottom left;
		div {
			flex: 0 0 20%;
			position: relative;
			height: 100%;
			opacity: 0.4; // full transparency just doesn't feel right
			animation: animCornerStripeSlide $easeInQuart both;
			// loop through each corner stripe
			$numDuration: 600;
			$numDelay: 400;
			$numTranslateY: 432; // was 420, but found that the first stripe spent too long on screen during its first few frames, so pushed it off screen even further
			@for $i from 1 through length($arrPressValues) {
				&.corner_stripe-#{$i} {
					background-color: nth($arrPressValues, $i);
					transform: translate3d(0, (($numTranslateY / 10) + rem), 0);
					animation-duration: #{$numDuration}ms;
					animation-delay: #{$numDelay}ms;
/*
					@if $i == 5 {
						animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
					}
*/
					@if $i > 1 {
						left: (-($i - 1) / 10) + rem; // resolve aliasing issues where a 1px white gap would appear
					}
				}
				$numDuration: $numDuration - 80;
				$numDelay: $numDelay + 180;
				$numTranslateY: $numTranslateY + 38;
			}
		}
	}

	// Page Load
	// ----------------------------------------------------------------------------
	html[data-ready="ready"] .press_corner {
		div {
			opacity: 1;
			transform: translate3d(0,0,0);
			@for $i from 1 through length($arrPressValues) {
				&.corner_stripe-#{$i} {
					animation: animCornerStripeBG-step#{$i} 400ms steps(1) infinite reverse;
					animation-play-state: paused;
				}
			}
		}
		&:hover div {
			animation-play-state: running;
		}
	}




}

@media only screen and (min-width: 1736px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Primary Navigation (child of header)
	// ----------------------------------------------------------------------------
	// --- Search Form --- \\
	nav.nav_primary .wrap_nav ul li.nav_search {
		width: 31.2rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container {
		.iso_gutter {
			width: 6.097561%; // 400 / 4 = 100 / 1640 = 6.097561%
		}
		article {
			width: 15.121951%; // 1640 - 400 = 1240 / 5 = 248 / 1640 = 15.121951%
		}
	}

// ==|== page styles ==========================================================
// ============================================================================

	// People
	// ----------------------------------------------------------------------------
	section.people {
		margin-left: -13.5rem;
		// breaks into 6 columns right before this... would love to address that so it never exceeds 5
		article {
			flex: 0 1 22rem;
			margin-left: 13.5rem;
		}
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/