// ==|== primary styles =======================================================
// Author: Curtis Dulmage
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html {
	font-family: 'aktiv-grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif; // bug in FF causing 2 scrollbars with Helvetica?
}
body {
	position: relative;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	background-color: $hsl_bone;
}
::selection {
	color: $hsl_L100;
	background-color: $hsl_cyan;
}

/*
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: $hsl_L0;
}
::-moz-placeholder {
	color: $hsl_L0;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsl_L0;
}
*/

// --- Lock Scrolling On Load --- \\
html[data-overflow="locked"],
html[data-overflow="locked"] body {
	overflow-y: hidden;
}
html {
	min-height: 100%;
	overflow-y: scroll;
}
/*
html[data-ready="waiting"] body {
	overflow-y: hidden;
}
html[data-ready="loaded"] body {
	overflow-y: visible;
}
*/

// Transitions & Animations
// ----------------------------------------------------------------------------
a {
	transition: all 260ms ease-in-out;
}
div.cat_icon {
	transition: background-color 260ms ease-in-out;
}
svg {
	transition: fill 260ms ease-in-out;
}
div.nav_wrap ul,
div.wrap_lines,
div.wrap_lines div.nav_line {
	transition: transform 260ms ease-in-out;
}
div.wrap_lines div.nav_line div.line_bg {
	transition: background-color 260ms ease-in-out;
}
section.iso_container article a div.iso_logo img,
section.iso_container article a div.wrap_iso-image div.wrap_iso-title {
	transition: opacity 260ms ease-in-out, visibility 260ms ease-in-out;
}
div.nav_wrap,
div.iso_loader,
div.wrap_dropdown {
	transition: opacity 360ms ease-in-out, visibility 360ms ease-in-out;
}
// --- Animations --- \\
@keyframes anim360 {
	to { transform: rotate(360deg); }
}
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
@keyframes animWidth {
	0%   { width: 0%; opacity: 0; }
	100% { width: 100%; opacity: 1; }
}
@keyframes animSlideUp {
	0%   { opacity: 0; transform: translateY(2rem); }
	100% { opacity: 1; transform: translateY(0); }
}
@keyframes animBounceUp {
	0%   { opacity: 0; transform: translateY(4.8rem); }
	60%  { transform: translateY(-0.8rem); }
	100% { opacity: 1; transform: translateY(0); }
}
@keyframes animRbow_color {
	  0% { color: $hsl_red;    }
	 20% { color: $hsl_orange; }
	 40% { color: $hsl_yellow; }
	 60% { color: $hsl_aqua;   }
	 80% { color: $hsl_cyan;   }
	100% { color: $hsl_red;    }
}
@keyframes animRbow_fill {
	  0% { fill: $hsl_red;    }
	 20% { fill: $hsl_orange; }
	 40% { fill: $hsl_yellow; }
	 60% { fill: $hsl_aqua;   }
	 80% { fill: $hsl_cyan;   }
	100% { fill: $hsl_red;    }
}
@keyframes animRbow_bg {
	  0% { background-color: $hsl_red;    }
	 20% { background-color: $hsl_orange; }
	 40% { background-color: $hsl_yellow; }
	 60% { background-color: $hsl_aqua;   }
	 80% { background-color: $hsl_cyan;   }
	100% { background-color: $hsl_red;   }
}
@keyframes animRbow_color-border {
	  0% { color: $hsl_red;    border-color: $hsl_red;    }
	 20% { color: $hsl_orange; border-color: $hsl_orange; }
	 40% { color: $hsl_yellow; border-color: $hsl_yellow; }
	 60% { color: $hsl_aqua;   border-color: $hsl_aqua;   }
	 80% { color: $hsl_cyan;   border-color: $hsl_cyan;   }
	100% { color: $hsl_red;    border-color: $hsl_red;   }
}
@keyframes animRbow2Navy_bg {
	  0% { background-color: $hsl_red;    }
	 20% { background-color: $hsl_orange; }
	 40% { background-color: $hsl_yellow; }
	 60% { background-color: $hsl_aqua;   }
	 80% { background-color: $hsl_cyan;   }
	100% { background-color: $hsl_navy;   }
}

/*
@keyframes animRbow2Navy_fill {

	0%   { fill: $hsl_red; }
	20%  { fill: $hsl_orange; }
	40%  { fill: $hsl_yellow; }
	60%  { fill: $hsl_aqua; }
	80%  { fill: $hsl_cyan; }
	100% { fill: $hsl_navy; }

	0%   { fill: $hsl_red; }
	10%  { fill: $hsl_orange; }
	23%  { fill: $hsl_yellow; }
	80%  { fill: $hsl_aqua; }
	91%  { fill: $hsl_cyan; }
	100% { fill: $hsl_navy; }

}
*/

/*
@keyframes animSVG {
	to { stroke-dashoffset: 0; }
}
@keyframes animFadeIn {
	to { opacity: 1; }
}
@keyframes animShake {
	0%, 100% { transform: translate3d(0,0,0); }
	10%, 30%, 50%, 70%, 90% { transform: translate3d(-1rem,0,0); }
	20%, 40%, 60%, 80% { transform: translate3d(1rem,0,0); }
}
.animate_shake {
	animation: animShake 0.7s ease-in-out both;
}
*/

// General Styles
// ----------------------------------------------------------------------------
.wrap_element {
	position: relative;
}
// + SVGs + \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // chrome does not respect the [viewBox] selector
}
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width_1640"] {
	max-width: 164rem;
}
[data-container="width_1280"] {
	max-width: 128rem;
}
/*
// --- Links --- \\
a {
	color: $hsl_red;
}
a:hover {
	color: $hsl_navy;
}
a:active {
	color: darken($hsl_navy, 30%);
}
*/

// Header
// ----------------------------------------------------------------------------
header {
	padding-top: 8rem;
	padding-bottom: 3.2rem;
	text-align: center;
}
/*
header h2 {
	font-size: 1.3rem;
	font-style: italic;
	font-weight: 800;
	line-height: 1.3;
	text-transform: uppercase;
	color: $hsl_navy;
}
*/
// --- Main Logo --- \\
.logo_main {
	margin: 0 auto 3.2rem auto;
	max-width: 28.8rem;
}
.logo_main div.wrap_svg {
	margin-left: auto;
	margin-right: auto;
}
.logo_main div.wrap_logo-sandwich {
	margin-bottom: 0.8rem;
	max-width: 34rem;
	width: 84%; // adjust height for mobile
}
.logo_main div.wrap_logo-sandwich svg.logo_sandwich {
	fill: $hsl_navy; // default fill (in case of animation)
}
.logo_main div.wrap_logo-video {
	max-width: 19.8rem;
	width: 50%; // adjust height for mobile
}
.logo_main div.wrap_logo-video svg.logo_video-rainbow {
	overflow: visible; // otherwise, <path> animation will get chopped off
}
// + video letters + \\
path.video_1 {
	fill: $hsl_red; // default fill
}
path.video_2 {
	fill: $hsl_orange; // default fill
}
path.video_3 {
	fill: $hsl_yellow; // default fill
}
path.video_4 {
	fill: $hsl_aqua; // default fill
}
path.video_5 {
	fill: $hsl_cyan; // default fill
}
// --- Tagline --- \\
div.wrap_txt-tagline {
	margin-left: auto;
	margin-right: auto;
	max-width: 28.4rem;
}
div.wrap_txt-tagline svg {
	fill: $hsl_navy;
}

// Nav Primary
// ----------------------------------------------------------------------------
nav.nav_primary {
	// all children are absolutely positioned, so element has the height of 0
}
// --- Nav Wrap --- \\
div.nav_wrap {
	@include pos_cover(fixed, 400);
	@include toggle_visibility(off);
	background-color: $hsl_bone;
	perspective: 60rem;
}
div.nav_wrap ul {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: rotateX(10deg) translateY(-60%);
}
div.nav_wrap ul li {
	margin-bottom: 2.4rem;
}
div.nav_wrap ul li.nav_twitter {
	margin-bottom: 0;
}
div.nav_wrap ul li a {
	font-size: 2.2rem;
	color: $hsl_navy;
}
// --- Nav Toggle --- \\
a.nav_toggle {
	display: block;
	position: absolute;
	z-index: 401;
	top: 2rem;
	left: 0;
	right: 0;
	margin: auto;
	padding: 1rem 0.4rem;
	width: 4rem; // inner width: 3.2rem
	height: 4rem; // inner height: 2rem
}
a.nav_toggle div.wrap_lines {
	position: relative;
	width: 100%;
	height: 100%;
}
a.nav_toggle div.wrap_lines div.nav_line {
	position: absolute;
	height: 0.4rem;
}
a.nav_toggle div.wrap_lines div.nav_line div.line_bg {
	width: 100%;
	height: 100%;
	background-color: $hsl_navy; // default background-color
}
// + each line + \\
a.nav_toggle div.wrap_lines div.line-1 {
	z-index: 404; // must be in front of line-2
	top: 0;
	left: 0;
}
a.nav_toggle div.wrap_lines div.line-2 {
	z-index: 402;
	top: 0.8rem;
	right: 0;
}
a.nav_toggle div.wrap_lines div.line-3 {
	z-index: 403;
	top: 1.6rem;
	left: 0;
}
// + toggled + \\
nav.nav_primary.toggled a.nav_toggle div.wrap_lines {
	transform: rotate(180deg);
}
nav.nav_primary.toggled a.nav_toggle div.wrap_lines div.line-1 {
	transform: translateY(0.8rem) rotate(-45deg);
}
nav.nav_primary.toggled a.nav_toggle div.wrap_lines div.line-3 {
	transform: translateY(-0.8rem) rotate(45deg);
}
nav.nav_primary.toggled a.nav_toggle div.wrap_lines div.line-2 div.line_bg {
	background-color: $hsl_bone;
}
nav.nav_primary.toggled div.nav_wrap {
	@include toggle_visibility(on);
}
nav.nav_primary.toggled div.nav_wrap ul {
	transform: rotateX(0deg) translateY(-48%);
}
// + nav links do not cycle colours until 768 + \\
nav.nav_primary ul li a:hover {
	color: $hsl_red;
}
nav.nav_primary ul li a:active {
	color: $hsl_yellow;
}

// Footer
// ----------------------------------------------------------------------------
footer {
	padding-top: 6rem;
	padding-bottom: 8rem;
	text-align: center;
}
footer h4 {
	font-size: 1.3rem;
	line-height: 1.4;
	color: $hsl_navy;
}
footer h4 a {
	color: $hsl_navy;
}
// + default transitions + \\
footer h4 a:hover {
	color: $hsl_red;
}
footer h4 a:active {
	color: darken($hsl_red, 10%);
}


// ==|== main styles ==========================================================
// ============================================================================

// Nav Categories
// ----------------------------------------------------------------------------
nav.nav_categories {
	position: relative;
	z-index: 200;
	margin: 0 auto 3.2rem auto;
	max-width: 20rem;
}
// --- Dropdown Trigger --- \\
a.cat_trigger {
	display: table;
	width: 100%;
	height: 4rem;
	font-size: 1.5rem; // calibre: 1.6rem;
	color: $hsl_red; // default color: red
	border: 0.2rem solid $hsl_red; // default color: red
	border-radius: 1.3rem;
}
a.cat_trigger span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1.6rem;
	padding-right: 4.2rem;
}
a.cat_trigger div.cat_icon {
	position: absolute;
	top: calc(4rem / 2 - 0.5rem); // half the height of the container minus half the height of the icon
	right: 1.6rem;
	width: 1rem;
	height: 1rem;
	background-color: $hsl_red; // default color: red
	border-radius: 50%;
}
// --- Dropdown List --- \\
div.wrap_dropdown,
div.wrap_dropdown ul,
div.wrap_dropdown div.fix_ios-scroll {
	background-color: $hsl_red; // be sure there is no chance ios rubber band will show a difference background
}
div.wrap_dropdown {
	@include toggle_visibility(off);
	position: absolute;
	z-index: 201;
	top: 0;
	// left: 0;
	// right: 0;
	width: 100%;
	border-radius: 1.3rem;
	overflow: hidden;
}
div.wrap_dropdown ul {
	// padding-top: 4.8rem;
}
div.wrap_dropdown ul li a {
	display: block;
	padding: 1.2rem 1.6rem 1.3rem 1.6rem;
	font-size: 1.5rem;
	color: $hsl_bone;
	background-color: $hsl_red;
}
div.wrap_dropdown ul li a.selected {
	pointer-events: none;
	background-color: $hsl_yellow;
}
// + dropdown scrollable + \\
div.wrap_dropdown.scrollable {
	height: 28rem;
}
div.wrap_dropdown div.fix_ios-scroll { // required only get to iOS to behave
/*
	position: absolute;
	top: 4.8rem;
	right: 0;
	bottom: 0;
	left: 0;
*/
	@include pos_cover(absolute, 202);
	border-radius: 1.3rem;
	overflow: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // required in order to get iOS Chrome to mask the overflow!
}
div.wrap_dropdown div.fix_ios-scroll ul {
	// padding-top: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/*
// + chrome scrollbar + \\
div.wrap_dropdown div.fix_ios-scroll ul::-webkit-scrollbar {
	width: 0.4rem;
	background-color: hsla(0,0%,0%,1);
}
div.wrap_dropdown div.fix_ios-scroll ul::-webkit-scrollbar-track {
	background-color: darken($hsl_bone, 10%);
}
div.wrap_dropdown div.fix_ios-scroll ul::-webkit-scrollbar-thumb {
	background-color: $hsl_yellow;
}
*/

// + toggled + \\
nav.nav_categories.toggled div.wrap_dropdown {
	@include toggle_visibility(on);
}

// + interaction + \\
a.cat_trigger:hover {
	color: $hsl_orange;
	border-color: $hsl_orange;
}
a.cat_trigger:hover div.cat_icon {
	background-color: $hsl_orange;
}
// + cat links do not cycle colours until 768 + \\
div.wrap_dropdown ul li a:hover {
	background-color: $hsl_orange;
}
div.wrap_dropdown ul li a:active {
	background-color: $hsl_red;
}

// Isotope
// ----------------------------------------------------------------------------
section.iso_container {
	position: relative;
	z-index: 100;
}
section.iso_container article,
section.iso_container div.iso_sizer {
	width: calc(50% - 1rem);
}
section.iso_container div.iso_gutter {
	width: 2rem;
}
section.iso_container article {
	// float: left;
	position: relative;
	z-index: 101;
	margin-bottom: 2rem;
}
section.iso_container article a {
	display: block;
}
// + iso image + \\
section.iso_container article a div.wrap_iso-image {
	position: relative;
}
section.iso_container article a div.wrap_iso-image div.wrap_iso-title {
	display: none;
	background-color: $hsl_red; // default background-color
}
// + iso logo + \\
section.iso_container article a div.iso_logo {
	position: relative;
}
section.iso_container article a div.iso_logo img.iso_logo-on {
	@include pos_cover(absolute, 102);
	@include toggle_visibility(off);
}
// + interaction + \\
section.iso_container article a:hover div.iso_logo img.iso_logo-off {
	@include toggle_visibility(off);
}
section.iso_container article a:hover div.iso_logo img.iso_logo-on {
	@include toggle_visibility(on);
}

// Isotope Loader
// ----------------------------------------------------------------------------
div.iso_loader {
	@include pos_cover(absolute, 300);
	background-color: $hsl_bone;
	opacity: 0;
	overflow: hidden;
}
div.iso_loader.visible {
	opacity: 1;
}
div.wrap_graphics {
	@include pos_cover(absolute, 301);
}
div.wrap_graphics div.wrap_svg {
	margin: 2rem auto;
	width: 4.4rem;
	height: 4.4rem;
	animation: anim360 800ms linear infinite forwards;
}
div.wrap_graphics div.wrap_svg svg {
	fill: $hsl_red; // default fill
	animation: animRbow_fill 1600ms linear infinite;
}
div.wrap_graphics div.wrap_txt p {
	font-size: 1.1rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	color: $hsl_navy; // default color
	animation: animRbow_color 1600ms linear infinite;
}
// + internet explorer + \\
html.ie9 div.iso_loader {
	display: none;
	visibility: hidden;
}

// Alternating Colours
// ----------------------------------------------------------------------------

/*
// + rainbow links + \\
nav.nav_categories[data-color="random"] a.cat_trigger { animation: animRbow_color-border 0.6s ease-in-out infinite; }
nav.nav_categories[data-color="random"] a.cat_trigger div.cat_icon { animation: animRbow_bg 0.6s ease-in-out infinite; }
*/

// + red links + \\
/*
nav.nav_categories[data-color="red"] a.cat_trigger { color: $hsl_red; border-color: $hsl_red; }
nav.nav_categories[data-color="red"] a.cat_trigger div.cat_icon { background-color: $hsl_red; }
*/
footer h4 a.color_red:hover { color: $hsl_red; }
footer h4 a.color_red:active { color: darken($hsl_red, 20%); }

// + orange links + \\
/*
nav.nav_categories[data-color="orange"] a.cat_trigger { color: $hsl_orange; border-color: $hsl_orange; }
nav.nav_categories[data-color="orange"] a.cat_trigger div.cat_icon { background-color: $hsl_orange; }
*/
footer h4 a.color_orange:hover { color: $hsl_orange; }
footer h4 a.color_orange:active { color: darken($hsl_orange, 20%); }

// + yellow links + \\
/*
nav.nav_categories[data-color="yellow"] a.cat_trigger { color: $hsl_yellow; border-color: $hsl_yellow; }
nav.nav_categories[data-color="yellow"] a.cat_trigger div.cat_icon { background-color: $hsl_yellow; }
*/
footer h4 a.color_yellow:hover { color: $hsl_yellow; }
footer h4 a.color_yellow:active { color: darken($hsl_yellow, 20%); }

// + aqua links + \\
/*
nav.nav_categories[data-color="aqua"] a.cat_trigger { color: $hsl_aqua; border-color: $hsl_aqua; }
nav.nav_categories[data-color="aqua"] a.cat_trigger div.cat_icon { background-color: $hsl_aqua; }
*/
footer h4 a.color_aqua:hover { color: $hsl_aqua; }
footer h4 a.color_aqua:active { color: darken($hsl_aqua, 20%); }

// + cyan links + \\
/*
nav.nav_categories[data-color="cyan"] a.cat_trigger { color: $hsl_cyan; border-color: $hsl_cyan; }
nav.nav_categories[data-color="cyan"] a.cat_trigger div.cat_icon { background-color: $hsl_cyan; }
*/
footer h4 a.color_cyan:hover { color: $hsl_cyan; }
footer h4 a.color_cyan:active { color: darken($hsl_cyan, 20%); }


/*
// + interaction + \\
nav.nav_categories a.cat_trigger:hover {
	color: $hsl_navy;
	border-color: $hsl_navy;
}
nav.nav_categories a.cat_trigger:hover div.cat_icon {
	background-color: $hsl_navy;
}
*/


// Page Load
// ----------------------------------------------------------------------------
// + isotope loader + \\
div.wrap_graphics {
	animation: animShow 1000ms ease-in-out forwards;
}
// + header + \\
.logo_main div.wrap_logo-sandwich {
	animation: animShow 800ms ease-in-out 200ms both;
}
/*
.logo_main div.wrap_logo-sandwich svg.logo_sandwich {
	animation: animRbow2Navy_fill 2400ms linear 200ms forwards;
}
*/
$numDelay: 600;
@for $i from 1 through 5 { // assumes 5 letters
	path.video_#{$i} {
		animation: animBounceUp 400ms cubic-bezier(0.215,0.610,0.355,1) #{$numDelay}ms both;
	}
	$numDelay: $numDelay + 100;
}
div.wrap_txt-tagline {
	animation: animShow 800ms ease-in-out 1000ms both; // could transition fill instead?
}
// + nav primary + \\
$numDelay: 600;
@for $i from 1 through 3 {
	a.nav_toggle div.wrap_lines div.line-#{$i} {
		animation: animWidth 600ms ease-in-out #{$numDelay}ms both;
	}
	$numDelay: $numDelay + 300;
}
a.nav_toggle div.wrap_lines div.nav_line div.line_bg {
	animation: animRbow2Navy_bg 1000ms linear 800ms; // forwards
}
// + nav categories + \\
nav.nav_categories {
	animation: animShow 800ms ease-in-out 1200ms both;
}