// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-width: 480px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-top: 4rem;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	// --- Nav Wrap --- \\
	div.nav_wrap ul li:nth-child(-n+5) {
		margin-bottom: 1.8rem;
	}
	div.nav_wrap ul li.nav_twitter {
		margin-bottom: 2.8rem;
	}
	div.nav_wrap ul li a {
		font-size: 1.8rem;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		top: 1rem;
		left: 1.6rem;
		right: auto;
		margin: 0;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 30.357143%; // 448 - 40 = 408 / 3 = 136 / 408 = 30.357143%
	}
	section.iso_container div.iso_gutter {
		width: 4.464286%; // 40 / 2 = 20 / 408 = 4.464286%
	}

}

@media only screen and (max-height: 400px) {

// ==|== main styles ==========================================================
// =============================================================================

	// Isotope Loader
	// ----------------------------------------------------------------------------
	div.wrap_graphics {
		padding-top: 0;
	}

}

@media only screen and (min-width: 768px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}

	// Transitions & Animations
	// ----------------------------------------------------------------------------
	div.wrap_dropdown,
	html.ready div.wrap_lines,
	html.ready div.wrap_lines div.nav_line,
	html.ready div.wrap_lines div.line-2 div.line_bg {
		transition: none;
	}
	nav.nav_primary {
		transition: transform 260ms ease-in-out;
	}
	div.nav_wrap ul li.nav_search form input[type="text"] {
		transition: width 600ms $easeInOutBack, opacity 600ms $easeInOutBack; // runs when entering 768px width... can i prevent?
	}
	// --- Animations --- \\
	@keyframes animSlideUp {
		  0% { opacity: 0; transform: translate3d(0,2rem,0); }
		100% { opacity: 1; transform: translate3d(0,0,0);    }
	}
	@keyframes animBounceUpFade {
		  0% { transform: translate3d(0,4.8rem,0); opacity: 0; }
		 60% { transform: translate3d(0,-0.8rem,0);            }
		100% { transform: translate3d(0,0,0);      opacity: 1; }
	}
	@keyframes animRbow_color-border {
		  0% { color: $hsl_red;    border-color: $hsl_red;    }
		 20% { color: $hsl_orange; border-color: $hsl_orange; }
		 40% { color: $hsl_yellow; border-color: $hsl_yellow; }
		 60% { color: $hsl_aqua;   border-color: $hsl_aqua;   }
		 80% { color: $hsl_cyan;   border-color: $hsl_cyan;   }
		100% { color: $hsl_red;    border-color: $hsl_red;    }
	}

/*
	@keyframes animRbow_border {
		  0% { border-color: $hsl_red;    }
		 20% { border-color: $hsl_orange; }
		 40% { border-color: $hsl_yellow; }
		 60% { border-color: $hsl_aqua;   }
		 80% { border-color: $hsl_cyan;   }
		100% { border-color: $hsl_red;    }
	}
*/

	@keyframes animRbowInst_path-1 {
		 0%,  20% { fill: $hsl_red;    }
		21%,  40% { fill: $hsl_orange; }
		41%,  60% { fill: $hsl_yellow; }
		61%,  80% { fill: $hsl_aqua;   }
		81%, 100% { fill: $hsl_cyan;   }
	}
	@keyframes animRbowInst_path-2 {
		 0%,  20% { fill: $hsl_orange; }
		21%,  40% { fill: $hsl_yellow; }
		41%,  60% { fill: $hsl_aqua;   }
		61%,  80% { fill: $hsl_cyan;   }
		81%, 100% { fill: $hsl_red;    }
	}
	@keyframes animRbowInst_path-3 {
		 0%,  20% { fill: $hsl_yellow; }
		21%,  40% { fill: $hsl_aqua;   }
		41%,  60% { fill: $hsl_cyan;   }
		61%,  80% { fill: $hsl_red;    }
		81%, 100% { fill: $hsl_orange; }
	}
	@keyframes animRbowInst_path-4 {
		 0%,  20% { fill: $hsl_aqua;   }
		21%,  40% { fill: $hsl_cyan;   }
		41%,  60% { fill: $hsl_red;    }
		61%,  80% { fill: $hsl_orange; }
		81%, 100% { fill: $hsl_yellow; }
	}
	@keyframes animRbowInst_path-5 {
		 0%,  20% { fill: $hsl_cyan;   }
		21%,  40% { fill: $hsl_red;    }
		41%,  60% { fill: $hsl_orange; }
		61%,  80% { fill: $hsl_yellow; }
		81%, 100% { fill: $hsl_aqua;   }
	}

	@keyframes animVHSwipe {
/*
		  0% { opacity: 0; transform: translate3d(-1.6rem,0,0);  }
		 60% { transform: translate3d(0.2rem,0,0); }
		100% { opacity: 1; transform: translate3d(0,0,0); }
*/
		  0% { opacity: 0; transform: translate3d(-1.6rem,0,0);  }
		 50% { transform: translate3d(0.4rem,0,0); }
		 75% { transform: translate3d(-0.2rem,0,0); }
		100% { opacity: 1; transform: translate3d(0,0,0); }
	}

	// Header
	// ----------------------------------------------------------------------------
	header {
		position: relative;
		padding-top: 18rem;
		padding-bottom: 6.4rem;
	}
	// --- Main Logo --- \\
	.logo_main {
		margin-bottom: 6.4rem;
		max-width: none;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	nav.nav_primary {
		position: fixed;
		z-index: 900;
		top: 0;
		left: 0;
		right: 0;
		padding: 5.6rem 3.2rem 2rem 3.2rem; // 40px of extra top padding for scroll distance (set in JS - actually 60px)
		background-color: $hsla_bone-L98;
	}
	nav.nav_primary.scrolled {
		// padding-top: 1.6rem;
		transform: translate3d(0,-4rem,0);
	}
	// --- Nav Wrap --- \\
	div.nav_wrap {
		@include pos_cover-reset(relative);
		@include toggle_visibility(on);
		perspective: none;
		background-color: transparent;
	}
	div.nav_wrap ul {
		position: static;
		top: auto;
		margin-left: auto;
		margin-right: auto;
		max-width: 128rem; // less than <main>
	}
	div.nav_wrap ul,
	nav.nav_primary.toggled div.nav_wrap ul {
		transform: none;
	}
	div.nav_wrap ul li:nth-child(-n+5) {
		display: inline-block;
	}
	div.nav_wrap ul li:nth-child(-n+4) {
		margin-right: 3.2rem;
	}
	div.nav_wrap ul li:nth-child(-n+5),
	div.nav_wrap ul li.nav_twitter {
		margin-bottom: 0;
	}
	div.nav_wrap ul li.nav_twitter {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 0;
	}
	div.nav_wrap ul li a {
		font-size: 1.5rem;
	}
	// --- Search Form --- \\
	div.nav_wrap ul li.nav_search {
		position: absolute;
		z-index: 1;
		left: 0;
		top: -0.2rem;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}
	div.nav_wrap ul li.nav_search form::before,
	div.nav_wrap ul li.nav_search form::after {
		display: none;
		width: auto;
		height: auto;
		background: transparent;
	}
	div.nav_wrap ul li.nav_search form input[type="text"] {
		padding-left: 3.6rem;
		width: 3.6rem;
		text-align: left;
		opacity: 0;
		cursor: pointer;
	}
	div.nav_wrap ul li.nav_search form input[type="text"]:focus {
		width: calc(100vw - 19rem); // only until 1024px
		opacity: 1;
		cursor: text;
	}
	div.nav_wrap ul li.nav_search form svg.ui_search {
		top: -0.2rem;
		left: -0.2rem;
		width: 2.6rem;
		height: 2.6rem;
	}
	div.nav_wrap ul li.nav_search form svg.ui_search path {
		opacity: 0;
		stroke-dasharray: 155;
		stroke-dashoffset: 155;
	}
	div.nav_wrap ul li.nav_search form input[type="text"]:hover + svg.ui_search path {
		stroke: $hsl_red;
	}
	div.nav_wrap ul li.nav_search form input[type="text"]:focus + svg.ui_search path {
		stroke: $hsl_navy;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		display: none;
		position: static;
	}
	a.nav_toggle div.wrap_lines div.nav_line {
		position: static;
	}
	nav.nav_primary.toggled a.nav_toggle div.wrap_lines,
	nav.nav_primary.toggled a.nav_toggle div.wrap_lines div.line-1,
	nav.nav_primary.toggled a.nav_toggle div.wrap_lines div.line-3 {
		transform: none;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding-top: 10rem;
		padding-bottom: 12rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {
		margin-bottom: 6.4rem;
		max-width: 80rem;
	}
	// --- Dropdown Trigger --- \\
	a.cat_trigger {
		display: none; // will there be JS errors? should this be visually hidden instead?
		visibility: hidden;
	}
	// --- Dropdown List --- \\
	div.wrap_dropdown,
	div.wrap_dropdown ul,
	div.wrap_dropdown div.fix_ios-scroll {
		background-color: transparent;
	}
	div.wrap_dropdown {
		@include toggle_visibility(on);
		position: static;
		top: auto;
		// left: auto;
		// right: auto;
		text-align: center;
		border-radius: 0;
		overflow: visible;
	}
	div.wrap_dropdown ul {
		// padding-top: 0;
	}
	div.wrap_dropdown ul li {
		display: inline-block;
		margin: 0 0.4rem 0.6rem 0.4rem;
	}
	div.wrap_dropdown ul li a {
		padding: 0.8rem 1.2rem 1rem 1.2rem;
		font-size: 1.4rem;
		color: $hsl_navy;
		border: 0.1rem solid transparent; // does a border-color need to be applied for each cycle?
		border-radius: 0.8rem;
	}
	div.wrap_dropdown ul li.cat_current a {
		color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
		border-color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
	}

	div.wrap_dropdown ul li a.color_rainbow::before {
		transition: opacity 260ms ease-in-out; // 600ms
	}
	div.wrap_dropdown ul li a.color_rainbow {
		position: relative;
	}
	div.wrap_dropdown ul li a.color_rainbow::before {
		content: "";
		display: block;
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		bottom: -0.2rem;
		left: -0.2rem;
		border: 0.4rem solid $hsl_bone;
		border-radius: 0.8rem;
		opacity: 1;
	}
	div.wrap_dropdown ul li.cat_current a.color_rainbow::before {
		opacity: 0;
	}
/*
	html.ready div.wrap_dropdown ul li.cat_current a.color_rainbow::before {
		opacity: 0;
	}
*/

	// + dropdown scrollable + \\
	div.wrap_dropdown.scrollable {
		height: auto;
	}
	div.wrap_dropdown div.fix_ios-scroll { // required only get to iOS to behave
		@include pos_cover-reset(static);
		overflow: visible;
		-webkit-mask-image: none;
	}
	div.wrap_dropdown div.fix_ios-scroll ul {
		height: auto;
		overflow: visible;
		-webkit-overflow-scrolling: auto;
	}
	// + default transitions + \\
	div.wrap_dropdown ul li a:hover {
		color: $hsl_red;
	}
	div.wrap_dropdown ul li a:active {
		color: darken($hsl_red, 10%);
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 29.545455%; // 704 - 80 = 624 / 3 = 208 / 704 = 29.545455%
	}
	section.iso_container div.iso_gutter {
		width: 5.681818%; // 80 / 2 = 40 / 704 = 5.681818%
	}
	section.iso_container article {
		margin-bottom: 4rem;
	}
	// + iso image + \\
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title {
		display: block;
		@include pos_cover(absolute, 103);
		opacity: 0;
	}
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title div.wrap_txt-center {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title div.wrap_txt-center h3 {
		display: table-cell;
		vertical-align: middle;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		font-size: 1.8rem;
		color: $hsl_L100;
	}
	// + interaction + \\
	section.iso_container article a:hover div.wrap_iso-image div.wrap_iso-title {
		opacity: 1;
	}
	section.iso_container article a:active div.wrap_iso-image div.wrap_iso-title {
		opacity: 0.9;
	}

	// Alternating Colours
	// ----------------------------------------------------------------------------
	div.wrap_dropdown ul li a.color_red,
	div.wrap_dropdown ul li a.color_orange,
	div.wrap_dropdown ul li a.color_yellow,
	div.wrap_dropdown ul li a.color_aqua,
	div.wrap_dropdown ul li a.color_cyan,
	div.wrap_dropdown ul li:nth-child(1) a,
	div.wrap_dropdown ul li:nth-child(2) a { background-color: transparent; }
	// + rainbow links + \\
	div.wrap_dropdown ul li a.color_rainbow:hover { animation: animRbow_color 600ms linear infinite; }
	div.wrap_dropdown ul li.cat_current a.color_rainbow { animation: animRbow_color-border 600ms linear infinite; }
	// + red links + \\
	nav.nav_categories[data-color="red"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_red div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_red; }
	div.wrap_dropdown ul li.cat_current a.color_red { color: $hsl_red; border-color: $hsl_red; }
	nav.nav_primary ul li a.color_red:hover,
	div.wrap_dropdown ul li a.color_red:hover { color: $hsl_red; }
	nav.nav_primary ul li a.color_red:active,
	div.wrap_dropdown ul li a.color_red:active { color: darken($hsl_red, 20%); }
	// + orange links + \\
	nav.nav_categories[data-color="orange"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_orange div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_orange; }
	div.wrap_dropdown ul li.cat_current a.color_orange { color: $hsl_orange; border-color: $hsl_orange; }
	nav.nav_primary ul li a.color_orange:hover,
	div.wrap_dropdown ul li a.color_orange:hover { color: $hsl_orange; }
	nav.nav_primary ul li a.color_orange:active,
	div.wrap_dropdown ul li a.color_orange:active { color: darken($hsl_orange, 20%); }
	// + yellow links + \\
	nav.nav_categories[data-color="yellow"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_yellow div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_yellow; }
	div.wrap_dropdown ul li.cat_current a.color_yellow { color: $hsl_yellow; border-color: $hsl_yellow; }
	nav.nav_primary ul li a.color_yellow:hover,
	div.wrap_dropdown ul li a.color_yellow:hover { color: $hsl_yellow; }
	nav.nav_primary ul li a.color_yellow:active,
	div.wrap_dropdown ul li a.color_yellow:active { color: darken($hsl_yellow, 20%); }
	// + aqua links + \\
	nav.nav_categories[data-color="aqua"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_aqua div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_aqua; }
	div.wrap_dropdown ul li.cat_current a.color_aqua { color: $hsl_aqua; border-color: $hsl_aqua; }
	nav.nav_primary ul li a.color_aqua:hover,
	div.wrap_dropdown ul li a.color_aqua:hover { color: $hsl_aqua; }
	nav.nav_primary ul li a.color_aqua:active,
	div.wrap_dropdown ul li a.color_aqua:active { color: darken($hsl_aqua, 20%); }
	// + cyan links + \\
	nav.nav_categories[data-color="cyan"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_cyan div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_cyan; }
	div.wrap_dropdown ul li.cat_current a.color_cyan { color: $hsl_cyan; border-color: $hsl_cyan; }
	nav.nav_primary ul li a.color_cyan:hover,
	div.wrap_dropdown ul li a.color_cyan:hover { color: $hsl_cyan; }
	nav.nav_primary ul li a.color_cyan:active,
	div.wrap_dropdown ul li a.color_cyan:active { color: darken($hsl_cyan, 20%); }

	// Page Load
	// ----------------------------------------------------------------------------
	nav.nav_categories,
	a.nav_toggle div.wrap_lines div.nav_line,
	a.nav_toggle div.wrap_lines div.nav_line div.line_bg {
		animation: none !important; // important seems to be required here...
	}
	// + header + \\
	@for $i from 1 through 5 { // assumes 5 letters
		html.ready g.rainbow_letter-#{$i},
		html.ready g.rainbow_letter-#{$i} path {
			animation: none;
		}
		html.ready div.wrap_video-rainbow:hover g.rainbow_letter-#{$i} path {
			animation: animRbowInst_path-#{$i} 400ms linear infinite reverse;
		}
	}
	div.wrap_txt-tagline {
		animation: animSlideUp 400ms ease-in-out 1000ms both;
	}
	// + nav primary + \\
	$numDelay: 600;
	@for $i from 1 through 5 { // assumes 5 nav items (excluding twitter and search)
		div.nav_wrap ul li:nth-child(#{$i}) {
			animation: animBounceUpFade 400ms $easeBounce #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 100;
	}
	div.nav_wrap ul li.nav_twitter {
		animation: animOpacity 600ms ease-in-out 1600ms both;
	}
	div.nav_wrap ul li.nav_search form svg.ui_search path {
		animation: animSVGPath 1000ms $easeBounce 1600ms forwards;
	}
	// + nav categories + \\
	$numDelay: 1000;
	@for $i from 1 through 20 { // assume a maximum of 20 nav items
		div.wrap_dropdown ul li:nth-child(#{$i}) {
			animation: animBounceUpFade 300ms $easeBounce #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 40;
	}

}

@media only screen and (min-width: 960px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 21.651786%; // 896 - 120 = 776 / 4 = 194 / 704 = 21.651786%
	}
	section.iso_container div.iso_gutter {
		width: 4.464286%; // 120 / 3 = 40 / 896 = 4.464286%
	}

}

@media only screen and (min-width: 1024px) {

	$easeInOutBack: cubic-bezier(0.680,-0.550,0.265,1.550);

// ==|== primary styles =======================================================
// ============================================================================

	// Transitions & Animations
	// ----------------------------------------------------------------------------
	div.nav_wrap ul li.nav_search form input[type="text"] {
		transition: width 600ms $easeInOutBack, opacity 800ms $easeInOutCirc; // redefine, since we have updated out easeing variable
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	// --- Search Form --- \\
	div.nav_wrap ul li.nav_search {
		width: 23.2rem;
	}
	div.nav_wrap ul li.nav_search form input[type="text"] {
		transition-duration: 260ms;
	}
	div.nav_wrap ul li.nav_search form input[type="text"]:focus {
		width: 100%;
	}

}

@media only screen and (min-width: 1200px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 4.8rem;
		padding-right: 4.8rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-top: 24rem;
		padding-bottom: 14rem;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	// --- Nav Wrap --- \\
	div.nav_wrap ul li {
		margin-right: 4rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {
		margin-bottom: 12rem;
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 17.028986%; // 1104 - 164 = 940 / 5 = 188 / 1104 = 17.028986%
	}
	section.iso_container div.iso_gutter {
		width: 3.713768%; // 164 / 4 = 41 / 1104 = 3.713768%
	}

}

@media only screen and (min-width: 1736px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Nav Primary
	// ----------------------------------------------------------------------------
	// --- Search Form --- \\
	div.nav_wrap ul li.nav_search {
		width: 31.2rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 15.121951%; // 1640 - 400 = 1240 / 5 = 248 / 1640 = 15.121951%
	}
	section.iso_container div.iso_gutter {
		width: 6.097561%; // 400 / 4 = 100 / 1640 = 6.097561%
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/