// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-width: 480px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-top: 4rem;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	nav.nav_primary ul li {
		margin-bottom: 1.8rem;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		top: 1rem;
		left: 1.6rem;
		right: auto;
		margin: 0;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 30.357143%; // 448 - 40 = 408 / 3 = 136 / 408 = 30.357143%
	}
	section.iso_container div.iso_gutter {
		width: 4.464286%; // 40 / 2 = 20 / 408 = 4.464286%
	}

}

@media only screen and (min-width: 768px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header {
		position: relative;
		padding-bottom: 6.4rem;
	}
	// --- Main Logo --- \\
	.logo_main {
		margin-bottom: 6.4rem;
		max-width: none;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	nav.nav_primary {
		@include pos_cover-reset();
		@include toggle_visibility(on);
		display: block;
		margin-bottom: 10rem;
		height: auto;
		background-color: transparent;
	}
	nav.nav_primary ul {
		display: block;
		// vertical-align: middle;
		transform: none;
	}
	nav.nav_primary ul li {
		display: inline-block;
		margin-right: 3.2rem;
		margin-bottom: 0;
	}
	nav.nav_primary ul li:nth-last-child(2) {
		margin-right: 0;
	}
	nav.nav_primary ul li.nav_twitter {
		position: absolute;
		top: 4rem;
		right: 0;
		margin-right: 0;
	}
	nav.nav_primary ul li a {
		font-size: 1.5rem; // calibre: 1.7rem;
		color: $hsl_navy;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		display: none;
		visibility: hidden;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding-top: 10rem;
		padding-bottom: 12rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {
		margin-bottom: 6.4rem;
		max-width: 70rem;
	}
	// --- Dropdown Trigger --- \\
	nav.nav_categories a.cat_trigger {
		display: none; // will there be JS errors? should this be visually hidden instead?
		visibility: hidden;
	}
	// --- Dropdown List --- \\
	nav.nav_categories ul {
		@include toggle_visibility(on);
		position: static;
		top: auto;
		left: auto;
		right: auto;
		max-height: none;
		text-align: center;
		overflow-y: visible;
		-webkit-overflow-scrolling: auto;
		background-color: transparent;
		border-radius: 0;
	}
	nav.nav_categories ul li {
		display: inline-block;
		margin: 0 0.4rem 0.6rem 0.4rem;
	}
	nav.nav_categories ul li a {
		padding: 0.8rem 1.2rem 1rem 1.2rem;
		font-size: 1.4rem; // calibre: 1.6rem
		color: $hsl_navy;
		background-color: transparent;
		border: 0.1rem solid transparent; // does a border-color need to be applied for each cycle?
		border-radius: 0.8rem;
	}
	nav.nav_categories ul li a.selected {
		background-color: transparent;
		color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
		border-color: $hsl_red; // 0% state of animation ... without this, there is a jump on loop
	}
	// + default transitions + \\
	nav.nav_categories ul li a:hover {
		color: $hsl_red;
		background-color: transparent;
	}
	nav.nav_categories ul li a:active {
		color: darken($hsl_red, 10%);
		background-color: transparent;
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 29.545455%; // 704 - 80 = 624 / 3 = 208 / 704 = 29.545455%
	}
	section.iso_container div.iso_gutter {
		width: 5.681818%; // 80 / 2 = 40 / 704 = 5.681818%
	}
	section.iso_container article {
		margin-bottom: 4rem;
	}
	// + iso image + \\
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title {
		display: block;
		@include pos_cover(absolute, 103);
		@include toggle_visibility(off);
	}
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title div.wrap_txt-center {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	section.iso_container article a div.wrap_iso-image div.wrap_iso-title div.wrap_txt-center h3 {
		display: table-cell;
		vertical-align: middle;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		font-size: 1.8rem; // calibre: 2.1rem;
		color: $hsl_L100;
	}
	// + interaction + \\
	section.iso_container article a:hover div.wrap_iso-image div.wrap_iso-title {
		@include toggle_visibility(on);
	}
	section.iso_container article a:active div.wrap_iso-image div.wrap_iso-title {
		opacity: 0.9;
	}

	// Alternating Colours
	// ----------------------------------------------------------------------------
	// + rainbow links + \\
	nav.nav_categories ul li a.color_rainbow:hover { animation: animRainbowColor 600ms ease-in-out infinite; }
	nav.nav_categories ul li a.color_rainbow.selected { animation: animRainbowColorBorder 600ms ease-in-out infinite both; }
	// + red links + \\
	nav.nav_categories[data-color="red"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_red div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_red; }
	nav.nav_categories ul li a.selected.color_red { color: $hsl_red; border-color: $hsl_red; }
	nav.nav_primary ul li a.color_red:hover,
	nav.nav_categories ul li a.color_red:hover { color: $hsl_red; }
	nav.nav_primary ul li a.color_red:active,
	nav.nav_categories ul li a.color_red:active { color: darken($hsl_red, 20%); }
	// + orange links + \\
	nav.nav_categories[data-color="orange"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_orange div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_orange; }
	nav.nav_categories ul li a.selected.color_orange { color: $hsl_orange; border-color: $hsl_orange; }
	nav.nav_primary ul li a.color_orange:hover,
	nav.nav_categories ul li a.color_orange:hover { color: $hsl_orange; }
	nav.nav_primary ul li a.color_orange:active,
	nav.nav_categories ul li a.color_orange:active { color: darken($hsl_orange, 20%); }
	// + yellow links + \\
	nav.nav_categories[data-color="yellow"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_yellow div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_yellow; }
	nav.nav_categories ul li a.selected.color_yellow { color: $hsl_yellow; border-color: $hsl_yellow; }
	nav.nav_primary ul li a.color_yellow:hover,
	nav.nav_categories ul li a.color_yellow:hover { color: $hsl_yellow; }
	nav.nav_primary ul li a.color_yellow:active,
	nav.nav_categories ul li a.color_yellow:active { color: darken($hsl_yellow, 20%); }
	// + aqua links + \\
	nav.nav_categories[data-color="aqua"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_aqua div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_aqua; }
	nav.nav_categories ul li a.selected.color_aqua { color: $hsl_aqua; border-color: $hsl_aqua; }
	nav.nav_primary ul li a.color_aqua:hover,
	nav.nav_categories ul li a.color_aqua:hover { color: $hsl_aqua; }
	nav.nav_primary ul li a.color_aqua:active,
	nav.nav_categories ul li a.color_aqua:active { color: darken($hsl_aqua, 20%); }
	// + cyan links + \\
	nav.nav_categories[data-color="cyan"] + section.iso_container article a div.wrap_iso-image div.wrap_iso-title,
	nav.nav_categories[data-color="random"] + section.iso_container article a.color_cyan div.wrap_iso-image div.wrap_iso-title { background-color: $hsl_cyan; }
	nav.nav_categories ul li a.selected.color_cyan { color: $hsl_cyan; border-color: $hsl_cyan; }
	nav.nav_primary ul li a.color_cyan:hover,
	nav.nav_categories ul li a.color_cyan:hover { color: $hsl_cyan; }
	nav.nav_primary ul li a.color_cyan:active,
	nav.nav_categories ul li a.color_cyan:active { color: darken($hsl_cyan, 20%); }

	// Page Load
	// ----------------------------------------------------------------------------
	nav.nav_categories,
	a.nav_toggle div.wrap_lines div {
		animation: none;
	}
	// + header + \\
	header h2 {
		animation: animSlideUp 400ms ease-in-out 1s both;
	}
	// + nav primary + \\
	$numDelay: 600;
	@for $i from 1 through 5 { // assumes 5 nav items
		nav.nav_primary ul li:nth-child(#{$i}) {
			animation: animBounceUp 400ms cubic-bezier(0.215,0.610,0.355,1) #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 100;
	}
	nav.nav_primary ul li.nav_twitter {
		animation: animShow 600ms ease-in-out 1600ms both;
	}
	// + nav categories + \\
	$numDelay: 1000;
	@for $i from 1 through 15 { // assumes 15 nav items
		nav.nav_categories ul li:nth-child(#{$i}) {
			animation: animBounceUp 300ms cubic-bezier(0.215,0.610,0.355,1) #{$numDelay}ms both;
		}
		$numDelay: $numDelay + 40;
	}

}

@media only screen and (min-width: 960px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 21.651786%; // 896 - 120 = 776 / 4 = 194 / 704 = 21.651786%
	}
	section.iso_container div.iso_gutter {
		width: 4.464286%; // 120 / 3 = 40 / 896 = 4.464286%
	}

}

@media only screen and (min-width: 1200px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-left: 4.8rem;
		padding-right: 4.8rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-top: 6.4rem;
		padding-bottom: 12rem;
	}

	// Nav Primary
	// ----------------------------------------------------------------------------
	nav.nav_primary {
		margin-bottom: 16rem;
	}
	nav.nav_primary ul li {
		margin-right: 4rem;
	}
	nav.nav_primary ul li.nav_twitter {
		top: 6.4rem;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Nav Categories
	// ----------------------------------------------------------------------------
	nav.nav_categories {
		margin-bottom: 10rem;
	}

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 17.028986%; // 1104 - 164 = 940 / 5 = 188 / 1104 = 17.028986%
	}
	section.iso_container div.iso_gutter {
		width: 3.713768%; // 164 / 4 = 41 / 1104 = 3.713768%
	}

}

@media only screen and (min-width: 1736px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Isotope
	// ----------------------------------------------------------------------------
	section.iso_container article,
	section.iso_container div.iso_sizer {
		width: 15.121951%; // 1640 - 400 = 1240 / 5 = 248 / 1640 = 15.121951%
	}
	section.iso_container div.iso_gutter {
		width: 6.097561%; // 400 / 4 = 100 / 1640 = 6.097561%
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/