%ul.video_credits
  %li
    %p
      %strong Director
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Adam Lisagor
  %li
    %p
      %strong Producer
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Shadie Elnashai
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Greg Kindra
  %li
    %p
      %strong Directory of Photography
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Jeff Bierman
  %li
    %p
      %strong Production Designer
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Grace Alie
  %li
    %p
      %strong Wardrobe
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Erica Rice
  %li
    %p
      %strong Editor
    %p
      %a{:href => "people-single.html", :title => "See Bio"} JP Bolles
  %li
    %p
      %strong Motion Graphics
    %p
      %a{:href => "people-single.html", :title => "See Bio"} JP Bolles
  %li
    %p
      %strong Visual Effects
    %p
      %a{:href => "people-single.html", :title => "See Bio"} JP Bolles
  %li
    %p
      %strong Starring
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Adam Lisagor
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Shadie Elnashai
    %p
      %a{:href => "people-single.html", :title => "See Bio"} JP Bolles
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Claude Zeins
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Greg Kindra
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Samantha Morris
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Sabrina Skau
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Roxana Altamirano
    %p
      %a{:href => "people-single.html", :title => "See Bio"} Lauren Mahoney
