%div{:class => "wrap_column column-1"}

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Creative Director

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aereo
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;There's TV&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;How to Airbnb&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Starring

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

    %li.archive_item
      %h4 American Well
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;The Doctor Will See You Now&rdquo;

    %li.archive_item
      %h4 Arrow
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Moving Target&rdquo;

    %li.archive_item
      %h4 Authy
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Authentication for the Future&rdquo;

    %li.archive_item
      %h4 Beep
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Your Music All Over&rdquo;

    %li.archive_item
      %h4 Bigcommerce
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Dream Big&rdquo;

    %li.archive_item
      %h4 Birdhouse
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;A Notepad for Twitter&rdquo;

    %li.archive_item
      %h4 Boku
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Boku Accounts&rdquo;

    %li.archive_item
      %h4 Bond
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Hello&rdquo;

    %li.archive_item
      %h4 Breaking News
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Time Was&rdquo;

    %li.archive_item
      %h4 Bump
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Just Bump&rdquo;

    %li.archive_item
      %h4 Candy House
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Open Sesame&rdquo;

    %li.archive_item
      %h4 Casper
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;I am Reborn&rdquo;

    %li.archive_item
      %h4 Centurylink
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Questions & Answers&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Think About Your Business&rdquo;

    %li.archive_item
      %h4 Change The Course
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Life Without Water&rdquo;

    %li.archive_item
      %h4 Chartcube
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;In One Place&rdquo;

    %li.archive_item
      %h4 Coin
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;One Card&rdquo;

    %li.archive_item
      %h4 Couple
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;An App for Two&rdquo;

%div{:class => "wrap_column column-2"}

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Writer

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

    %li.archive_item
      %h4 American Well
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;The Doctor Will See You Now&rdquo;

    %li.archive_item
      %h4 Arrow
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Moving Target&rdquo;

    %li.archive_item
      %h4 Authy
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Authentication for the Future&rdquo;

    %li.archive_item
      %h4 Beep
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Your Music All Over&rdquo;

    %li.archive_item
      %h4 Bigcommerce
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Dream Big&rdquo;

    %li.archive_item
      %h4 Birdhouse
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;A Notepad for Twitter&rdquo;

    %li.archive_item
      %h4 Boku
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Boku Accounts&rdquo;

    %li.archive_item
      %h4 Bond
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Hello&rdquo;

    %li.archive_item
      %h4 Breaking News
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Time Was&rdquo;

    %li.archive_item
      %h4 Bump
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Just Bump&rdquo;

    %li.archive_item
      %h4 Candy House
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Open Sesame&rdquo;

    %li.archive_item
      %h4 Casper
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;I am Reborn&rdquo;

    %li.archive_item
      %h4 Centurylink
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Questions & Answers&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Think About Your Business&rdquo;

    %li.archive_item
      %h4 Change The Course
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Life Without Water&rdquo;

    %li.archive_item
      %h4 Chartcube
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;In One Place&rdquo;

    %li.archive_item
      %h4 Coin
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;One Card&rdquo;

    %li.archive_item
      %h4 Couple
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;An App for Two&rdquo;

%div{:class => "wrap_column column-3"}

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Creative Director

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aereo
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;There's TV&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;How to Airbnb&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Starring

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

    %li.archive_item
      %h4 American Well
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;The Doctor Will See You Now&rdquo;

    %li.archive_item
      %h4 Arrow
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Moving Target&rdquo;

    %li.archive_item
      %h4 Authy
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Authentication for the Future&rdquo;

    %li.archive_item
      %h4 Beep
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Your Music All Over&rdquo;

    %li.archive_item
      %h4 Bigcommerce
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Dream Big&rdquo;

    %li.archive_item
      %h4 Birdhouse
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;A Notepad for Twitter&rdquo;

    %li.archive_item
      %h4 Boku
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Boku Accounts&rdquo;

    %li.archive_item
      %h4 Bond
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Hello&rdquo;

    %li.archive_item
      %h4 Breaking News
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Time Was&rdquo;

    %li.archive_item
      %h4 Bump
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Just Bump&rdquo;

    %li.archive_item
      %h4 Candy House
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Open Sesame&rdquo;

    %li.archive_item
      %h4 Casper
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;I am Reborn&rdquo;

    %li.archive_item
      %h4 Centurylink
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Questions & Answers&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Think About Your Business&rdquo;

    %li.archive_item
      %h4 Change The Course
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Life Without Water&rdquo;

    %li.archive_item
      %h4 Chartcube
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;In One Place&rdquo;

    %li.archive_item
      %h4 Coin
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;One Card&rdquo;

    %li.archive_item
      %h4 Couple
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;An App for Two&rdquo;

%div{:class => "wrap_column column-4"}

  %ul.archive_list.person_credits

    %li.archive_heading
      %h3 Writer

    %li.archive_item
      %h4 1Password
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;No More Sticky Notes&rdquo;

    %li.archive_item
      %h4 Aeropress
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Ritual (Spec)&rdquo;

    %li.archive_item
      %h4 AirBnB
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Why We Host&rdquo;

    %li.archive_item
      %h4 American Well
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;The Doctor Will See You Now&rdquo;

    %li.archive_item
      %h4 Arrow
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Moving Target&rdquo;

    %li.archive_item
      %h4 Authy
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Authentication for the Future&rdquo;

    %li.archive_item
      %h4 Beep
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Your Music All Over&rdquo;

    %li.archive_item
      %h4 Bigcommerce
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Dream Big&rdquo;

    %li.archive_item
      %h4 Birdhouse
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;A Notepad for Twitter&rdquo;

    %li.archive_item
      %h4 Boku
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Boku Accounts&rdquo;

    %li.archive_item
      %h4 Bond
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Hello&rdquo;

    %li.archive_item
      %h4 Breaking News
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Time Was&rdquo;

    %li.archive_item
      %h4 Bump
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Just Bump&rdquo;

    %li.archive_item
      %h4 Candy House
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Open Sesame&rdquo;

    %li.archive_item
      %h4 Casper
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;I am Reborn&rdquo;

    %li.archive_item
      %h4 Centurylink
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Questions & Answers&rdquo;
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Think About Your Business&rdquo;

    %li.archive_item
      %h4 Change The Course
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;Life Without Water&rdquo;

    %li.archive_item
      %h4 Chartcube
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;In One Place&rdquo;

    %li.archive_item
      %h4 Coin
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;One Card&rdquo;

    %li.archive_item
      %h4 Couple
      %p
        %a{:href => "#", :title => "See Project"} &ldquo;An App for Two&rdquo;
