%ul.video_credits
	%li
		%p
			%strong Director
		%p Adam Lisagor
	%li
		%p
			%strong Producer
		%p Shadie Elnashai
		%p Greg Kindra
	%li
		%p
			%strong Directory of Photography
		%p Jeff Bierman
	%li
		%p
			%strong Production Designer
		%p Grace Alie
	%li
		%p
			%strong Wardrobe
		%p Erica Rice
	%li
		%p
			%strong Editor
		%p JP Bolles
	%li
		%p
			%strong Motion Graphics
		%p JP Bolles
	%li
		%p
			%strong Visual Effects
		%p JP Bolles
	%li
		%p
			%strong Starring
		%p Adam Lisagor
		%p Shadie Elnashai
		%p JP Bolles
		%p Claude Zeins
		%p Greg Kindra
		%p Samantha Morris
		%p Sabrina Skau
		%p Roxana Altamirano
		%p Lauren Mahoney
