%section.about_main

	%article.about_post

		%h5 About Sandwich

		.the_content.page_content

			%p We got into this by accident.

			%p In 2009, <a href="people-single.html" title="See Adam's Bio">Adam Lisagor</a> made what became the first of his many videos for neat tech products. He&rsquo;d co-developed an <a href="http://birdhouseapp.com/" title="Birdhouse App" target="_blank">iOS app</a> with a friend, made a video to promote it, and became his own first client.

			%p A year later, with enough paying customers to make it a real thing, he incorporated as Sandwich Video Inc.

			%p We&rsquo;re not here to sell—we&rsquo;re here to share through the medium of video. People usually watch because they&rsquo;ve come to learn, and we like to help make that happen.

			%p You can watch an episode of <a href="http://www.theverge.com/2014/12/2/7318909/small-empires-season-2-episode-7-sandwich-video" title="Watch Small Empires" target="_blank">&ldquo;Small Empires&rdquo; from The Verge</a> that&rsquo;s all about Sandwich.

			%p Want to know more about how it works? We wrote a <a href="page.html" title="How it Works">How it Works</a>.