%footer#page_footer.page_footer

	%h6 Sandwich Video
	%h6 Los Angeles
	%h6
		%a.color_random{:href => "https://twitter.com/sandwich", :title => "Follow @sandwich", :target => "_blank"} @sandwich

= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render