%p First, we talk.

%p Send us an email at <a href="mailto:inquire@sandwichvideo.com" target="Email Us">inquire@sandwichvideo.com</a> and tell us what you&rsquo;re working on. No need for a lot of detail—just some words about your thing, what it is, how it&rsquo;s different than everything before it, and how you see us helping. We love email and we&rsquo;ll get back to you quicker than you&rsquo;d expect.

%p Next, we&rsquo;ll find out more. We want to know why you&rsquo;re excited about what you&rsquo;re making and why you think other people will be, too. We&rsquo;ll set aside some time to talk and we&rsquo;ll get a sense of what&rsquo;s great about your product. Hopefully, it&rsquo;s at a place where we can use it and feel it and figure out what delights us about it and what excites us to be a part of it. It&rsquo;s important to start the conversation when the product is far enough along to give us a good idea of what it&rsquo;ll eventually be, but still give us enough lead time to put the right amount of care into helping translate it to video.

%img{:src => "assets/img/temp_page.jpg", :alt => ""}

%p So we&rsquo;ve talked, and we like each other and we like the idea of potentially working together. What happens next is we&rsquo;ll spend some time developing and writing up what&rsquo;s called a treatment. This usually takes the form of a short piece of text—usually less than a page—where we describe to you how we see the video. What&rsquo;s the concept, why we know it&rsquo;s the best idea, and what resources we will need to achieve it. Sometimes, it makes most sense that we get some money for this part, which is called the “creative engagement” and means we&rsquo;re not writing on spec, or “for free”. When we move forward to the project phase, that money gets absorbed into the rest of the cost because we&rsquo;re nice people.

%p Speaking of time, how long does a video take? This is the second-most common question—so common that we&rsquo;ve come up with a standard answer: on average, a video will take approximately 8-12 weeks from inception of the idea to final delivery. Of course, this number can vary, and if you&rsquo;re in a super rush and your product is incredible and you&rsquo;re launching it in 6 weeks and you have a lot of money, then we can probably talk. But the age-old equation of fast/cheap/good applies. So give us some time to make it right.

%p Speaking of money, how much does a video cost? One million dollars.

%img{:src => "assets/img/temp_page.jpg", :alt => ""}

%p Not really one million dollars. But that&rsquo;s as absurd an answer as any we could give without knowing a whole lot more about your project. The price of a video depends on a few things, like the nature of the creative concept and the resources available to you. Look, it costs real money to make these things well. Maybe more than you think. Do you know that our typical crew size is 20-40 people who are aces in their chosen profession? A lot of people, right? If we&rsquo;re talking about the pure market value of what we make, our work can typically “cost” $100K or more, but the costs can be structured in a way that our clients aren&rsquo;t simply handing over bags of cash. There are other ways, you know. Read on.

%p Our clients fall into three categories:

%p <strong>1. Indie developers and small, bootstrapped startups.</strong> These are nearest to our hearts because this is where we came from, but we honestly don&rsquo;t take many of these clients anymore. We love that they embody the spirit of risk-taking that makes good things happen, and in that spirit, when we work with these clients, we&rsquo;ll structure payment as part cash and part equity and/or revenue share based on sales. This can be great for clients without a lot of capital, and it can be great for us if the investment pays off. If we love what you&rsquo;re working on, if we know that it&rsquo;s one-of-a-kind and it&rsquo;ll captivate the world, and we like who&rsquo;s behind it, we&rsquo;ll work with you as an investment, in exchange for your trust in our taste, a little bit of cash, and a nice amount of upside. These videos cost one dollar sign. <strong>$</strong>

%p <strong>2. Reasonably well-funded startups. These make up the bulk of our clients.</strong> They&rsquo;ve got the interest of some people with money to invest, they think (know) that their product is going to be a lot bigger than it is now, and they&rsquo;re happy to put some money into the video to get it right. When we work with these clients, we almost always carve out a little upside for ourselves in the form of equity (when we&rsquo;re early enough for that to be meaningful) and revenue share (when the product we&rsquo;re helping sell will translate to real revenue in the short term). And this can help offset some or all of the fees we collect to, you know, pay ourselves. These videos cost two dollar signs. <strong>$ $</strong>

%p <strong>3. Big corporations. We&rsquo;re doing more and more of these lately.</strong> Sometimes for web, sometimes even for TV! They can be fun because there are resources to do things correctly—to make things look amazing, without squeezing the rates of the many talented people who work with us, and because big companies have been known to innovate just as well as smaller, more agile ones. Some of our favorite clients have been enormous brands that respect the creative and know what it takes to make great things and have giant bags of money. These videos cost three dollar signs. <strong>$ $ $</strong>

%img{:src => "assets/img/temp_page.jpg", :alt => ""}

%p What do you get for your dollars? Good question. We basically act as a creative agency and a production facility in one, so we almost always write the videos we make. We love that we can be a part of the whole process from beginning to end. We shape the concept and put all the finishing touches on, including the editing, visual effects, music and everything. When we quote you an amount of money for the work, that amount is all-inclusive. Generally, we like a deposit to get going, so we&rsquo;re not out-of-pocket for the shoot. Then we collect some when we go into post-production, and then the rest when we deliver. Standard stuff.

%p When we make a video for you, the assets we create belong to you, and are yours to use as you see fit, although we should agree in advance on where your video is intended to be seen. That is to say, if you plan to buy air time and broadcast the video on TV as a commercial, we should know this at the beginning because the people who make and appear in TV commercials work for different rates than people who make video for the web. But as long as we know, you&rsquo;re golden.

%img{:src => "assets/img/temp_page.jpg", :alt => ""}

%p Why do our videos cost more money than you were expecting (or less, or exactly the same as)? Interesting question. It&rsquo;s easy to assume that making good videos is easier than it looks. But in fact, it takes a great deal of skill, taste, and labor to do things well. So you can rest assured that not only do we tend to achieve production values comparable to the TV and film industries on tight budgets, the right amount of your money will end up on screen, where it&rsquo;s supposed to be. We operate like a lean startup, and that spirit pervades our work.

%p Whose work? Who makes the videos? Great question. Adam Lisagor founded the company and he directs a lot of them. But he also works with a small handful of supremely talented filmmakers who direct them as well, while he creatively oversees the process and makes sure everything is up to a certain standard. By operating as a creative studio, we&rsquo;re able to work with a larger number of clients doing neat things because there are a lot of you out there and we love to work with you.

%img{:src => "assets/img/temp_page.jpg", :alt => ""}

%p Last thing you should know is that you can be as large or as small a part of the process as you like. Some clients enjoy brainstorming creative ideas and others want no part of that. Some clients nitpick the kerning of every piece of text, and others would rather leave it to us. We&rsquo;re here to work with you.

%p Most importantly, we&rsquo;re here to work with innovative people making good products. When we get to do that, all goes well.