%header{"data-container" => "width_1280"}

	%h1.visuallyhidden Sandwich Video

	%a#nav_toggle.nav_toggle{:href => "#", :title => "Toggle Menu"}
		.wrap_lines
			.line-1
			.line-2
			.line-3

	%nav#nav_primary.nav_primary

		%ul
			%li
				%a.color_random{:href => "#", :title => "Projects"} Projects
			%li
				%a.color_random{:href => "#", :title => "What We Do"} What We Do
			%li
				%a.color_random{:href => "#", :title => "People"} People
			%li
				%a.color_random{:href => "#", :title => "Press"} Press
			%li
				%a.color_random{:href => "#", :title => "Contact"} Contact
			%li#nav_twitter.nav_twitter
				%a.color_random{:href => "https://twitter.com/sandwich", :title => "Follow @sandwich", :target => "_blank"} @sandwich

	-# %a.logo_main{:href => "#", :title => "Back To Home"}
	.logo_main
		%svg.logo_sandwich{:viewBox => "0 0 340 48"}
			%use{"xlink:href" => "#logo_sandwich"}
		= Haml::Engine.new(File.read("dev/haml/partials/_svg_logo-video.haml")).render
		-# %svg.logo_video-rainbow{:viewBox => "0 0 198 48"}
			-# %use{"xlink:href" => "#logo_video-rainbow"}

	:plain
		<h2>We make videos and TV commercials.<br> Here are some below</h2>