%aside{"data-modal" => "hidden"}

	.wrap_modal

		%header.modal_header.video_details

			.wrap_titles
				%h6.title_video.truncate "Sandwich Loves Slack"
				%h6.title_company.truncate Slack

			%ul.wrap_links
				%li.link_credits
					%a{:href => "#", :title => "Credits"} Credits
				%li.link_post
					%a{:href => "#", :title => "View Project Page"} View Project Page
				%li.link_share
					%a{:href => "#", :title => "Share"} Share

		%figure.modal_figure

			.wrap_video
				-# &html5=1 &wmode=transparent / :wmode => "Opaque",
				-# &enablejsapi=1
				%iframe#youtube_video{:type => "text/html", :width => "853", :height => "480", :src => "//www.youtube.com/embed/B6zVzWU95Sw?rel=0&showinfo=0", :frameborder => "0", :allowfullscreen => true}

			%figcaption.modal_caption

				.wrap_scroll

					= Haml::Engine.new(File.read("dev/haml/partials/_con_credits.haml")).render

				%a.wrap_svg.wrap_ui-arrow{:href => "#", :title => "Close Credits"}
					%svg.ui_arrow{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_arrow"}