%nav.wrap_press-links.nav_sidebar
  %h4 Press
  %ul.press_links
    %li
      %a{:href => "#", :title => "See press article"}
        .wrap_press-logo
          %img.img_off{:src => "assets/img/logo_bloomberg-off.png", :alt => ""}
          %img.img_on{:src => "assets/img/logo_bloomberg-on.png", :alt => ""}
        %h5 Adam Lisagor, Silicon Valley Startups' Favorite Video Director
        %p Lisagor has refashioned product demos, an old idea in the world of advertising, into an effective marketing vehicle.
    %li
      %a{:href => "#", :title => "See press article"}
        .wrap_press-logo
          %img.img_off{:src => "assets/img/logo_verge-off.png", :alt => ""}
          %img.img_on{:src => "assets/img/logo_verge-on.png", :alt => ""}
        %h5 Small Empires – The startup that makes your startup look cool
        %p Sandwich is a video production company that has found the perfect tone for the moment. Dry, self-deprecating, and hilarious.
    %li
      %a{:href => "#", :title => "See press article"}
        .wrap_press-logo
          %img.img_off{:src => "assets/img/logo_bloomberg-off.png", :alt => ""}
          %img.img_on{:src => "assets/img/logo_bloomberg-on.png", :alt => ""}
        %h5 Adam Lisagor is advertising’s quietest pitchman
        %p Advertising takes place in half-worlds of its own devising, and this one is carefully crafted by Sandwich Video, which Lisagor runs out of his Los Angeles apartment.
