%nav.wrap_press-links.nav_sidebar
	%h4 Press
	%ul.press_links
		%li
			%a{:href => "#", :title => "See press article"} <strong>Bloomberg Business:</strong> Adam Lisagor, Silicon Valley Startups&rsquo; Favorite Video Director
		%li
			%a{:href => "#", :title => "See press article"} <strong>Entrepreneur:</strong> This Bearded Guy Has Unintentionally Become the Face of Tech Startups
		%li
			%a{:href => "#", :title => "See press article"} <strong>FastCompany:</strong> Adam Lisagor is Advertising&rsquo;s Quietest Pitchman
		%li
			%a{:href => "#", :title => "See press article"} <strong>Mashable:</strong> Who is Adam Lisagor and why is he in every tech ad right now?
		%li
			%a{:href => "#", :title => "See press article"} <strong>The Great Discontent:</strong> Adam Lisagor
		%li
			%a{:href => "#", :title => "See press article"} <strong>The Verge:</strong> Small Empires – The startup that makes your startup look cool