.wrap_svg.wrap_subhead.wrap_subhead-home
	%h2.visuallyhidden We make videos and TV commercials. Here are some below.
	%svg.subhead_home.svg_inline{:viewBox => "0 0 303 31"}
		%use{"xlink:href" => "#subhead_home"}