%svg#logo_video-rainbow.logo_video-rainbow{:version => "1.1", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :x => "0px", :y => "0px", :viewBox => "0 0 394 96", "enable-background" => "new 0 0 394 96", "xml:space" => "preserve"}
	%path.video_1{:d => "M100.85 1.28L65.01 93.838h-28.48L.684 1.28h35.11l12.273 42.106c1.35 4.542 2.333 9.083 2.333 13.748h.736c0-4.665.98-9.206 2.33-13.748L65.745 1.28h35.107z"}
	%path.video_2{:d => "M98.737 1.28h33.636v92.557H98.737z"}
	%path.video_3{:d => "M137.182 1.28h34.25c31.055 0 54.87 13.627 54.87 47.63 0 27.496-19.394 44.926-46.524 44.926h-42.596V1.28zm33.636 64.815h2.087c11.17 0 19.763-5.155 19.763-17.308 0-13.01-7.488-18.536-19.763-18.536h-2.087v35.845z"}
	%path.video_4{:d => "M228.556 1.28h62.235V26.57h-28.354v8.84h25.9v24.06h-25.9v9.082h29.338v25.287h-63.218"}
	%path.video_5{:d => "M393.683 48.246c0 29.706-22.954 47.505-51.188 47.505-28.232 0-51.188-17.798-51.188-47.504 0-29.094 23.077-47.997 51.188-47.997s51.188 18.902 51.188 47.996m-68.496.49c0 10.558 7.12 17.8 17.308 17.8 10.19 0 17.308-7.242 17.308-17.8 0-9.82-6.63-18.044-17.308-18.044-10.68 0-17.308 8.225-17.308 18.045"}