%svg#logo_video-record.logo_video-record{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 228 49"}

  -# %defs
    -# FF requires :fill => "url(#video-tracking)" to be set inline on the SVG element
    -# try using: :preserveAspectRatio => "none" | or | :patternUnits => "userSpaceOnUse"
    -# try using: :width => "1", :height => "1"  | or | :width => "228", :height => "49"
    -# try using: :viewBox => "0 0 228 49"
    -# try using: absolute href instead of a relative
    -# %pattern#video-tracking{:width => "228", :height => "49", :patternUnits => "userSpaceOnUse"}
      -# %image{"xlink:href" => "http://localhost/sandwich/build/assets/img/video-tracking.gif", :width => "228", :height => "49"}

  %g.record_letter-1
    %path.group_path-1{:d => "M49.624 1.427L32.13 46.597H18.234L.74 1.427h17.134l5.99 20.548c.66 2.217 1.14 4.433 1.14 6.71h.358c0-2.277.48-4.494 1.138-6.71l5.99-20.548h17.134z"}
  %g.record_letter-2
    %path.group_path-1{:d => "M48.583 1.427h16.415v45.17H48.583z"}
  %g.record_letter-3
    %path.group_path-1{:d => "M67.265 1.427H83.98c15.156 0 26.778 6.65 26.778 23.244 0 13.42-9.465 21.927-22.705 21.927H67.265V1.427zm16.415 31.63h1.018c5.452 0 9.645-2.515 9.645-8.446 0-6.348-3.654-9.045-9.645-9.045H83.68v17.493z"}
  %g.record_letter-4
    %path.group_path-1{:d => "M111.93 1.427H142.3v12.34h-13.84v4.314h12.64v11.743h-12.64v4.433h14.318v12.34h-30.85"}
  %g.record_letter-5
    %path.group_path-1{:d => "M167.158.924c-13.72 0-24.98 9.225-24.98 23.423 0 14.497 11.2 23.184 24.98 23.184 13.778 0 24.98-8.685 24.98-23.183 0-14.198-11.26-23.423-24.98-23.423m0 33.184c-5.333 0-9.657-4.324-9.657-9.657s4.325-9.656 9.658-9.656c5.333 0 9.657 4.323 9.657 9.657 0 5.335-4.324 9.658-9.657 9.658"}
  %g.record_letter-6
    %path.group_path-1{:d => "M227.74 24.452c0 5.91-4.79 10.7-10.7 10.7-5.908 0-10.698-4.79-10.698-10.7s4.79-10.7 10.7-10.7c5.908 0 10.698 4.79 10.698 10.7"}
