%svg#logo_video-vhs.logo_video-vhs{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 200 49"}
	%g.vhs_letter-1
		%path.group_path-1{:d => "M18.252 1.06H.532L6.95 17.624h16.13z M44.67 17.625H28.54L33.367 1.06h17.72z"}
		%path.group_path-2{:d => "M24.447 22.31l-1.01-3.46H7.424l2.196 5.67h15.416c-.17-.74-.37-1.475-.59-2.21z M44.197 18.85H28.182l-1.01 3.46c-.218.735-.417 1.47-.587 2.21h15.417l2.195-5.67z"}
		%path.group_path-3{:d => "M41.324 26.268H26.242c-.156.985-.246 1.977-.246 2.98h-.372c0-1.004-.09-1.995-.247-2.98h-15.08l2.184 5.643h26.66l2.19-5.64z"}
		%path.group_path-4{:d => "M38.123 34.535H13.497l2.062 5.325h20.5z"}
		%path.group_path-5{:d => "M18.624 47.772h14.373l1.71-4.414H16.913z"}
	%g.vhs_letter-2
		%path.group_path-1{:d => "M49.274 1.06H66.25v16.565H49.273z"}
		%path.group_path-2{:d => "M49.274 18.85H66.25v5.67H49.273z"}
		%path.group_path-3{:d => "M49.274 26.268H66.25v5.643H49.273z"}
		%path.group_path-4{:d => "M49.274 34.535H66.25v5.325H49.273z"}
		%path.group_path-5{:d => "M49.274 43.358H66.25v4.414H49.273z"}
	%g.vhs_letter-3
		%path.group_path-1{:d => "M86.353 15.68h1.053c2.908 0 5.283.614 6.986 1.945h19.07C110.407 5.91 99.824 1.06 86.662 1.06H69.378v16.565h16.975V15.68z"}
		%path.group_path-2{:d => "M69.378 18.85h16.975v5.67H69.378z M114.35 24.52c-.033-2.037-.238-3.925-.6-5.67H95.61c1.075 1.387 1.685 3.26 1.76 5.67h16.98z"}
		%path.group_path-3{:d => "M69.378 26.268h16.975v5.643H69.378z M94.228 31.91h19.254c.478-1.76.768-3.645.85-5.642H97.315c-.27 2.57-1.394 4.423-3.088 5.643z"}
		%path.group_path-4{:d => "M69.378 34.535v5.325h40.035c1.3-1.57 2.374-3.352 3.182-5.325H69.378z"}
		%path.group_path-5{:d => "M69.378 47.772h21.498c5.773 0 10.852-1.564 14.796-4.414H69.378v4.414z"}
	%g.vhs_letter-4
		%path.group_path-1{:d => "M133.055 13.82h14.31V1.06h-31.41v16.565h17.1z"}
		%path.group_path-2{:d => "M115.956 18.85h30.17v5.67h-30.17z"}
		%path.group_path-3{:d => "M146.127 30.425v-4.157h-30.17v5.643h17.098v-1.48z"}
		%path.group_path-4{:d => "M115.956 39.86h31.906v-4.85h-14.807v-.475h-17.1z"}
		%path.group_path-5{:d => "M115.956 43.358h31.906v4.414h-31.906z"}
	%g.vhs_letter-5
		%path.group_path-1{:d => "M173.7 15.68c2.26 0 4.16.732 5.604 1.945h19.293C195.565 6.932 185.513.315 173.7.315c-11.816 0-21.867 6.617-24.9 17.31h19.294c1.445-1.213 3.344-1.945 5.605-1.945z"}
		%path.group_path-2{:d => "M147.865 24.52h17.104c.05-2.148.73-4.13 1.94-5.67h-18.427c-.405 1.788-.622 3.68-.623 5.67z M180.486 18.85c1.207 1.54 1.89 3.523 1.943 5.67h17.1c0-1.988-.22-3.88-.626-5.67H180.48z"}
		%path.group_path-3{:d => "M148.903 31.91h19.2c-1.636-1.316-2.725-3.268-3.043-5.642h-17.142c.124 2 .46 3.884.985 5.643z M179.293 31.91h19.2c.527-1.76.863-3.642.985-5.642h-17.142c-.317 2.375-1.406 4.326-3.043 5.643z"}
		%path.group_path-4{:d => "M153.19 39.86h41.016c1.34-1.58 2.463-3.36 3.327-5.325h-47.668c.863 1.966 1.986 3.745 3.326 5.325z"}
		%path.group_path-5{:d => "M173.7 48.515c6.392 0 12.248-1.81 16.762-5.157h-33.527c4.515 3.348 10.37 5.157 16.764 5.157z"}