%svg#logo_video-vhs.logo_video-vhs{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 228 49"}
  %g.vhs_letter-1
    %path.group_path-1{:d => "M32.22 1.06H14.5l6.416 16.565H37.05M58.638 17.625H42.505l4.83-16.566h17.72"}
    %path.group_path-2{:d => "M38.414 22.31l-1.01-3.46H21.39l2.196 5.67h15.417c-.17-.74-.37-1.475-.59-2.21zM58.164 18.85H42.15l-1.01 3.46c-.22.735-.418 1.47-.588 2.21H55.97l2.194-5.67z"}
    %path.group_path-3{:d => "M55.29 26.268H40.21c-.157.985-.247 1.977-.247 2.98h-.372c0-1.004-.09-1.995-.246-2.98h-15.08l2.184 5.643h26.657l2.186-5.642z"}
    %path.group_path-4{:d => "M52.09 34.535H27.464l2.062 5.325h20.502"}
    %path.group_path-5{:d => "M32.59 47.772h14.374l1.71-4.414H30.88"}
  %g.vhs_letter-2
    %path.group_path-1{:d => "M63.24 1.06h16.976v16.565H63.24z"}
    %path.group_path-2{:d => "M63.24 18.85h16.976v5.67H63.24z"}
    %path.group_path-3{:d => "M63.24 26.268h16.976v5.643H63.24z"}
    %path.group_path-4{:d => "M63.24 34.535h16.976v5.325H63.24z"}
    %path.group_path-5{:d => "M63.24 43.358h16.976v4.414H63.24z"}
  %g.vhs_letter-3
    %path.group_path-1{:d => "M100.32 15.68h1.053c2.908 0 5.283.614 6.986 1.945h19.07C124.373 5.91 113.79 1.06 100.63 1.06H83.344v16.565h16.975V15.68z"}
    %path.group_path-2{:d => "M83.345 18.85h16.975v5.67H83.345zM128.317 24.52c-.033-2.037-.238-3.925-.6-5.67h-18.138c1.073 1.387 1.683 3.26 1.76 5.67h16.977z"}
    %path.group_path-3{:d => "M83.345 26.268h16.975v5.643H83.345zM108.195 31.91h19.254c.477-1.76.767-3.645.848-5.642h-17.015c-.27 2.57-1.394 4.423-3.088 5.643z"}
    %path.group_path-4{:d => "M83.345 34.535v5.325h40.035c1.3-1.57 2.374-3.352 3.182-5.325H83.345z"}
    %path.group_path-5{:d => "M83.345 47.772h21.498c5.773 0 10.852-1.564 14.796-4.414H83.344v4.414z"}
  %g.vhs_letter-4
    %path.group_path-1{:d => "M147.022 13.82h14.31V1.06h-31.41v16.565h17.1"}
    %path.group_path-2{:d => "M129.923 18.85h30.17v5.67h-30.17z"}
    %path.group_path-3{:d => "M160.094 30.425v-4.157h-30.17v5.643h17.098v-1.485"}
    %path.group_path-4{:d => "M129.923 39.86h31.906v-4.85H147.02v-.475h-17.1"}
    %path.group_path-5{:d => "M129.923 43.358h31.906v4.414h-31.907z"}
  %g.vhs_letter-5
    %path.group_path-1{:d => "M187.666 15.68c2.26 0 4.16.732 5.605 1.945h19.294C209.532 6.932 199.48.315 187.666.315c-11.815 0-21.866 6.617-24.898 17.31h19.293c1.446-1.213 3.345-1.945 5.606-1.945z"}
    %path.group_path-2{:d => "M161.832 24.52h17.104c.053-2.148.736-4.13 1.943-5.67h-18.425c-.406 1.788-.622 3.68-.623 5.67zM194.452 18.85c1.207 1.54 1.89 3.523 1.943 5.67H213.5c0-1.988-.218-3.88-.624-5.67h-18.424z"}
    %path.group_path-3{:d => "M162.87 31.91h19.2c-1.636-1.316-2.725-3.268-3.043-5.642h-17.142c.124 2 .46 3.884.985 5.643zM193.26 31.91h19.2c.527-1.76.863-3.642.985-5.642h-17.142c-.317 2.375-1.406 4.326-3.043 5.643z"}
    %path.group_path-4{:d => "M167.158 39.86h41.015c1.34-1.58 2.463-3.36 3.327-5.325h-47.668c.863 1.966 1.986 3.745 3.326 5.325z"}
    %path.group_path-5{:d => "M187.666 48.515c6.393 0 12.25-1.81 16.763-5.157H170.9c4.515 3.348 10.37 5.157 16.764 5.157z"}
