%svg#logo_video-rainbow.logo_video-rainbow{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 228 49"}
	%g.rainbow_letter-1
		%path.group_path-1{:d => "M65.884.75l-18.15 46.866h-14.42L15.164.75H32.94l6.216 21.32c.684 2.3 1.18 4.598 1.18 6.96h.374c0-2.362.497-4.662 1.18-6.96L48.108.75h17.777z"}
	%g.rainbow_letter-2
		%path.group_path-1{:d => "M64.813.75h17.032v46.866H64.813z"}
	%g.rainbow_letter-3
		%path.group_path-1{:d => "M84.28.75h17.343c15.726 0 27.785 6.9 27.785 24.117 0 13.924-9.82 22.75-23.56 22.75H84.282V.748zm17.033 32.82h1.057c5.656 0 10.007-2.61 10.007-8.765 0-6.588-3.792-9.386-10.007-9.386h-1.057v18.15z"}
	%g.rainbow_letter-4
		%path.group_path-1{:d => "M130.55.75h31.512v12.804h-14.358v4.476h13.115v12.183h-13.116v4.6h14.856v12.803h-32.01"}
	%g.rainbow_letter-5
		%path.group_path-1{:d => "M214.163 24.53c0 15.043-11.623 24.056-25.92 24.056-14.296 0-25.92-9.013-25.92-24.055 0-14.73 11.685-24.303 25.92-24.303s25.92 9.572 25.92 24.304m-34.684.25c0 5.344 3.604 9.012 8.763 9.012s8.764-3.667 8.764-9.013c0-4.973-3.356-9.138-8.764-9.138s-8.764 4.165-8.764 9.137"}