%svg#logo_video-rainbow.logo_video-rainbow{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 200 49"}
	%g.rainbow_letter-1
		%path.group_path-1{:d => "M51.14.75L32.99 47.615H18.57L.417.75h17.778l6.215 21.32c.685 2.3 1.182 4.598 1.182 6.96h.373c0-2.362.497-4.662 1.18-6.96L33.363.75H51.14z"}
	%g.rainbow_letter-2
		%path.group_path-1{:d => "M50.068.75H67.1v46.866H50.068z"}
	%g.rainbow_letter-3
		%path.group_path-1{:d => "M69.536.75h17.342c15.726 0 27.785 6.9 27.785 24.117 0 13.924-9.82 22.75-23.56 22.75H69.537V.748zm17.03 32.82h1.058c5.656 0 10.007-2.61 10.007-8.765 0-6.588-3.79-9.386-10.006-9.386h-1.057v18.15z"}
	%g.rainbow_letter-4
		%path.group_path-1{:d => "M115.803.75h31.514v12.804H132.96v4.476h13.114v12.183H132.96v4.6h14.855v12.803h-32.012"}
	%g.rainbow_letter-5
		%path.group_path-1{:d => "M199.418 24.53c0 15.043-11.623 24.056-25.92 24.056-14.296 0-25.92-9.013-25.92-24.055 0-14.73 11.685-24.303 25.92-24.303s25.92 9.572 25.92 24.304m-34.684.25c0 5.344 3.605 9.012 8.764 9.012s8.764-3.667 8.764-9.013c0-4.973-3.356-9.138-8.764-9.138s-8.764 4.165-8.764 9.137"}