.wrap_svg.wrap_tagline.wrap_tagline-home
	%h2.visuallyhidden We make videos and TV commercials. Here are some below.
	%svg.tagline_home.svg_inline{:viewBox => "0 0 303 31"}
		%use{"xlink:href" => "#tagline_home"}