.temp_images.visuallyhidden
	%img{:src => "assets/img/temp_01.jpg", :alt => ""}
	%img{:src => "assets/img/temp_02.jpg", :alt => ""}
	%img{:src => "assets/img/temp_03.png", :alt => ""}
	%img{:src => "assets/img/temp_04.png", :alt => ""}