%aside{"data-modal" => "visible", "data-content" => "loaded", "data-ajax" => "error"}

	.modal_content

		%header.modal_header.video_details

			.wrap_titles
				%h3.title_video.truncate "Sandwich Loves Slack"
				%h3.title_client.truncate Slack

			%ul.wrap_links
				%li.item_link-close
					%a#link_close.wrap_svg.wrap_ui-close{:href => "#", :title => "Close project"}
						%span Close Project
						%svg.ui_close{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_close"}
				%li.item_link-credits
					%a#link_credits{:href => "#", :title => "Credits"} Credits
				%li.item_link-project
					%a#link_project{:href => "#", :title => "View Project Page"} View Project Page
				%li.item_link-tweet
					%a#link_tweet{:href => "#", :title => "Tweet this"} Tweet this

		%figure.modal_figure

			.wrap_video
				-# &html5=1 &wmode=transparent / :wmode => "Opaque",
				-# &enablejsapi=1
				%iframe{:type => "text/html", :width => "853", :height => "480", :src => "//www.youtube.com/embed/B6zVzWU95Sw?rel=0&showinfo=0", :frameborder => "0", :allowfullscreen => true}

			%figcaption.modal_caption

				.wrap_scroll
					= Haml::Engine.new(File.read("dev/haml/partials/_con_credits-project.haml")).render

				-# %a.wrap_svg.wrap_ui-arrow{:href => "#", :title => "Close Credits"}
					-# %svg.ui_arrow{:viewBox => "0 0 64 64"}
						-# %use{"xlink:href" => "#ui_arrow"}

		.content_error
			%p Whoops! For whatever reason, a server error has occured and is preventing us from fetching the right video for you. Maybe if you <a href="#" class="link_retry" title="" data-client="" data-youtube="">try again</a> the server will have learned from its mistakes.

	.modal_loader.loader_spinner.visible
		.wrap_graphics
			.wrap_svg
				%svg.ui_loader{:viewBox => "0 0 64 64"}
					%use{"xlink:href" => "#ui_loader"}